@font-face { font-family: 'GmarketSansMedium'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'UhBeeJJIBBABBA'; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeJJIBBABBA.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'REM'; src: url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap") format("woff"); font-weight: normal; font-style: normal; }

/* scroll */
@-webkit-keyframes gradient { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }
@keyframes gradient { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }

@-webkit-keyframes about { 0% { left: -100%; }
  100% { left: 0; } }

@keyframes about { 0% { left: -100%; }
  100% { left: 0; } }

@-webkit-keyframes contact { 0% { right: -100%; }
  100% { right: 0; } }

@keyframes contact { 0% { right: -100%; }
  100% { right: 0; } }

@-webkit-keyframes ulmenu { 0% { top: 100%; }
  100% { top: 0; } }

@keyframes ulmenu { 0% { top: 100%; }
  100% { top: 0; } }

@-webkit-keyframes revealRTL { 0% { width: 0;
    right: 0; }
  65% { width: 100%;
    right: 0; }
  100% { width: 0;
    right: 100%; } }

@keyframes revealRTL { 0% { width: 0;
    right: 0; }
  65% { width: 100%;
    right: 0; }
  100% { width: 0;
    right: 100%; } }

@-webkit-keyframes revealLTR { 0% { width: 0;
    left: 0; }
  65% { width: 100%;
    left: 0; }
  100% { width: 0;
    left: 100%; } }

@keyframes revealLTR { 0% { width: 0;
    left: 0; }
  65% { width: 100%;
    left: 0; }
  100% { width: 0;
    left: 100%; } }

@-webkit-keyframes textHidden { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes textHidden { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes aboutItem { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes aboutItem { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes about_info { 0% { bottom: -100%;
    opacity: 0; }
  100% { bottom: 0;
    opacity: 1; } }

@keyframes about_info { 0% { bottom: -100%;
    opacity: 0; }
  100% { bottom: 0;
    opacity: 1; } }

@-webkit-keyframes progress1 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@keyframes progress1 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@-webkit-keyframes progress2 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.75); transform: scaleX(0.75);
    background: #fff; } }

@keyframes progress2 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.75); transform: scaleX(0.75);
    background: #fff; } }

@-webkit-keyframes progress3 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.5); transform: scaleX(0.5);
    background: #fff; } }

@keyframes progress3 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.5); transform: scaleX(0.5);
    background: #fff; } }

@-webkit-keyframes progress4 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.4); transform: scaleX(0.4);
    background: #fff; } }

@keyframes progress4 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.4); transform: scaleX(0.4);
    background: #fff; } }

@-webkit-keyframes progress5 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@keyframes progress5 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@-webkit-keyframes progress6 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@keyframes progress6 { 0% { -webkit-transform: scaleX(0); transform: scaleX(0); }
  100% { -webkit-transform: scaleX(0.85); transform: scaleX(0.85);
    background: #fff; } }

@-webkit-keyframes contact_txt { 0% { top: -100%;
    opacity: 0; }
  100% { top: 50%;
    opacity: 1; } }

@keyframes contact_txt { 0% { top: -100%;
    opacity: 0; }
  100% { top: 50%;
    opacity: 1; } }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

strong { font-weight: normal; }

em { font-style: normal; }

a { color: inherit; text-decoration: none; -webkit-transition: all ease 0.8s; transition: all ease 0.8s; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

button { background: transparent; border: none; outline: none; cursor: pointer; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }

i { background-repeat: no-repeat; background-position: center center; background-size: 100%; }

i::before { font-style: normal; }

i, strong, em, p { display: block; }

* { box-sizing: border-box; -webkit-box-sizing: border-box; margin: 0; padding: 0; -webkit-tap-highlight-color: transparent !important; }

i, img { max-width: 100%; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

input[type="text"], input[type="password"], input[type="checkbox"], input[type="number"], input[type="tel"], input[type="email"] { outline: none; background: transparent; color: #333; padding: 0 10px; }

input::-ms-clear { display: none; }

input:-webkit-autofill { background: --color-wh01 !important; -webkit-text-fill-color: #333 !important; }

html, body { width: 100%; font-family: "GmarketSansMedium"; font-size: 10px; color: #000; overflow: hidden; }

::-moz-selection, ::-moz-selection { color: #000; background: #ff4646; }

::-moz-selection, ::selection { color: #000; background: #ff4646; }

::-webkit-scrollbar { width: 10px; height: 10px; background: #fff; }

::-webkit-scrollbar-thumb { height: 12px; background: #eee; border-radius: 8px; }

#Wrap { width: 100%; height: 100vh; overflow: hidden; }

#Wrap header { position: fixed; z-index: 999; width: 100%; height: 12rem; }

#Wrap header h1 { position: relative; left: 1rem; top: 3rem; width: 10rem; height: 4.8rem; background-color: #222; -webkit-mask-image: url("../images/logo.svg"); mask-image: url("../images/logo.svg"); background-size: cover; -webkit-background-size: cover; -webkit-mask-size: contain; mask-size: contain; -webkit-mask-position: center; mask-position: center; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; }

#Wrap header h1 a { display: block; width: 100%; height: 100%; font-size: 0; }

#Wrap header .btn-close { display: none; position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 50%; right: 3rem; width: 3rem; height: 3rem; overflow: hidden; z-index: 12; opacity: 0; font-size: 0; }

#Wrap header .btn-close::before, #Wrap header .btn-close::after { content: ""; position: absolute; display: block; background: #222; width: 100%; height: 0.2rem; top: 50%; left: 0; margin-top: -1px; }

#Wrap header .btn-close::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#Wrap header .btn-close::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

#Wrap header .btn-close.active { display: block; -webkit-animation: textHidden .3s .3s forwards; animation: textHidden .3s .3s forwards; right: 3rem; }

#Wrap nav { position: absolute; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 80%; width: 100%; z-index: 1; }

#Wrap nav button { color: #222; font-family: "GmarketSansMedium"; font-weight: bold; }

#Wrap nav button::after { content: ""; position: absolute; left: 0; display: block; height: 1rem; width: 100%; background: #222; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s; -webkit-transform: scale(0, 1); transform: scale(0, 1); }

#Wrap nav button:hover::after { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

#Wrap nav > button { position: absolute; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 75%; z-index: 10; font-size: 3rem; }

#Wrap nav > button.about { left: 1rem; }

#Wrap nav > button.contact { right: 1rem; }

#Wrap nav > ul { position: relative; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10rem; top: 6rem; }

#Wrap nav > ul::before { content: ""; position: absolute; display: block; background: #222; width: calc(100% - 40rem); height: 0.1rem; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 50%; top: 0; }

#Wrap nav > ul li { position: relative; margin-top: 5rem; }

#Wrap nav > ul li > button { font-size: 2.4rem; font-weight: bold; font-family: "GmarketSansMedium"; letter-spacing: -0.1rem; color: #121212; }

#Wrap nav > ul li:hover > button::before { content: ""; position: absolute; left: 0; display: block; height: 1rem; width: 100%; background: #222; opacity: 0; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, -webkit-transform 0.35s; transition: opacity 0.35s, transform 0.35s; transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s; -webkit-transform: scale(0, 1); transform: scale(0, 1); }

#Wrap article { position: relative; width: 100%; height: 100vh; left: 0; top: 0; }

#Wrap article.active { z-index: 11; }

#Wrap article > section.con { width: 100%; height: 100%; }

#Wrap article > section.con:not(.step) { display: none; position: absolute; top: 0; z-index: 1; overflow: auto; overflow-x: hidden; }

#Wrap article > section.con:not(.step) .inner { max-width: 100%; }

#Wrap article > section.con .inner { width: 100%; height: 100%; }

#Wrap article > section.con.step { background: #ffdd3f; }

#Wrap article > section.con.step .inner { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 5rem; }

#Wrap article > section.con.step .inner .txtBox { position: relative; width: 100%; height: 40rem; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 20%; }

#Wrap article > section.con.step .inner .txtBox > div { position: relative; }

#Wrap article > section.con.step .inner .txtBox > div.logo { position: absolute; bottom: 0; right: 0; width: 86rem; height: 40rem; background-color: #222; -webkit-mask-image: url("../images/logo.svg"); mask-image: url("../images/logo.svg"); background-size: cover; -webkit-background-size: cover; -webkit-mask-size: contain; mask-size: contain; -webkit-mask-position: center; mask-position: center; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; }

#Wrap article > section.con.step .inner .txtBox > div.animate-in p { -webkit-animation: textHidden 0.1s 1.1s forwards; animation: textHidden 0.1s 1.1s forwards; }

#Wrap article > section.con.step .inner .txtBox > div.animate-in::before { background: #ffdf51; }

#Wrap article > section.con.step .inner .txtBox > div.animate-in::after { background: #fff; }

#Wrap article > section.con.step .inner .txtBox > div.animate-in::before, #Wrap article > section.con.step .inner .txtBox > div.animate-in::after { content: ""; position: absolute; top: 0; left: 0; height: 100%; z-index: 9; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(1).animate-in::before { -webkit-animation: revealLTR 1.8s ease; animation: revealLTR 1.8s ease; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(1).animate-in::after { -webkit-animation: revealLTR 1s .6s ease; animation: revealLTR 1s .6s ease; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(2).animate-in::before { -webkit-animation: revealRTL 1.8s ease; animation: revealRTL 1.8s ease; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(2).animate-in::after { -webkit-animation: revealRTL 1s .6s ease; animation: revealRTL 1s .6s ease; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(3).animate-in::before { -webkit-animation: revealRTL 1.8s ease; animation: revealRTL 1.8s ease; }

#Wrap article > section.con.step .inner .txtBox > div:nth-of-type(3).animate-in::after { -webkit-animation: revealRTL 1s .6s ease; animation: revealRTL 1s .6s ease; }

#Wrap article > section.con.step01 { background: #f5f5f5; }

#Wrap article > section.con.step01 .inner .intro { position: relative; width: 100%; height: 68vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; top: 10rem; font-family: "GmarketSansMedium"; z-index: 1; overflow: hidden; }

#Wrap article > section.con.step01 .inner .intro::before { content: ""; position: absolute; width: 86rem; height: 40rem; width: 140rem; height: 100rem; background-color: #fff; -webkit-mask-image: url("../images/logo.svg"); mask-image: url("../images/logo.svg"); background-size: cover; -webkit-background-size: cover; -webkit-mask-size: contain; mask-size: contain; -webkit-mask-position: center; mask-position: center; -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; opacity: 0; }

#Wrap article > section.con.step01 .inner .intro strong { position: relative; display: block; font-size: 5rem; font-weight: bold; opacity: 0; }

#Wrap article > section.con.step01 .inner .intro ul { position: relative; z-index: 1; top: 5rem; width: 100rem; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 1rem; font-size: 2.4rem; }

#Wrap article > section.con.step01 .inner .intro ul li { padding: 0 3rem; height: 5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: rgba(255, 221, 63, 0.1); border-radius: 2.5rem; opacity: 0; }

#Wrap article > section.con.step01 .inner .info { position: relative; width: 100%; margin: 10rem auto 0; padding: 10rem 20%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; z-index: 1; opacity: 0; }

#Wrap article > section.con.step01 .inner .info::before { content: ""; position: absolute; left: 0; width: 100%; height: 30rem; z-index: -1; top: 11rem; border-radius: 50% 50% 0 0; -webkit-transform: scale(2); transform: scale(2); opacity: 0; }

#Wrap article > section.con.step01 .inner .info > ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

#Wrap article > section.con.step01 .inner .info > ul li { font-size: 1.8rem; line-height: 3.2rem; opacity: 0; }

#Wrap article > section.con.step01 .inner .info > ul li:nth-of-type(odd) { width: 15rem; }

#Wrap article > section.con.step01 .inner .info > ul li:nth-of-type(even) { width: calc(100% - 15rem); }

#Wrap article > section.con.step01 .inner .info .progressBox { width: 100%; position: relative; margin-top: 2rem; }

#Wrap article > section.con.step01 .inner .info .progressBox .progress-bar { overflow: hidden; position: relative; width: 100%; height: 2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; opacity: 0; }

#Wrap article > section.con.step01 .inner .info .progressBox .progress-bar:not(:last-child) { margin-bottom: 2rem; }

#Wrap article > section.con.step01 .inner .info .progressBox .progress-bar::before { content: ''; position: absolute; height: 100%; left: 0; top: 0; -webkit-transform-origin: left top; transform-origin: left top; width: calc(100% - -2.8rem); will-change: transform; }

#Wrap article > section.con.step01 .inner .info .progressBox .progress-bar span { position: absolute; left: 0.5rem; z-index: 1; }

#Wrap article > section.con.step01.active .inner .intro::before { -webkit-animation: textHidden 1s .1s ease-in forwards; animation: textHidden 1s .1s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro strong { -webkit-animation: textHidden 1s .3s ease-in forwards; animation: textHidden 1s .3s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(1) { -webkit-animation: textHidden 1s 0.5s ease-in forwards; animation: textHidden 1s 0.5s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(2) { -webkit-animation: textHidden 1s 0.8s ease-in forwards; animation: textHidden 1s 0.8s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(3) { -webkit-animation: textHidden 1s 1.1s ease-in forwards; animation: textHidden 1s 1.1s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(4) { -webkit-animation: textHidden 1s 1.4s ease-in forwards; animation: textHidden 1s 1.4s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(5) { -webkit-animation: textHidden 1s 1.7s ease-in forwards; animation: textHidden 1s 1.7s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(6) { -webkit-animation: textHidden 1s 2s ease-in forwards; animation: textHidden 1s 2s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(7) { -webkit-animation: textHidden 1s 2.3s ease-in forwards; animation: textHidden 1s 2.3s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(8) { -webkit-animation: textHidden 1s 2.6s ease-in forwards; animation: textHidden 1s 2.6s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(9) { -webkit-animation: textHidden 1s 2.9s ease-in forwards; animation: textHidden 1s 2.9s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .intro ul li:nth-of-type(10) { -webkit-animation: textHidden 1s 3.2s ease-in forwards; animation: textHidden 1s 3.2s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info { -webkit-animation: about_info 1s 3.5s ease forwards; animation: about_info 1s 3.5s ease forwards; background: #ffdd3f; }

#Wrap article > section.con.step01.active .inner .info::before { -webkit-animation: about_info 1s .1s ease forwards; animation: about_info 1s .1s ease forwards; background: #ffdd3f; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(1) { -webkit-animation: textHidden 1s 3.8s ease-in forwards; animation: textHidden 1s 3.8s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(2) { -webkit-animation: textHidden 1s 4.1s ease-in forwards; animation: textHidden 1s 4.1s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(3) { -webkit-animation: textHidden 1s 4.4s ease-in forwards; animation: textHidden 1s 4.4s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(4) { -webkit-animation: textHidden 1s 4.7s ease-in forwards; animation: textHidden 1s 4.7s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(5) { -webkit-animation: textHidden 1s 5s ease-in forwards; animation: textHidden 1s 5s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(6) { -webkit-animation: textHidden 1s 5.3s ease-in forwards; animation: textHidden 1s 5.3s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(7) { -webkit-animation: textHidden 1s 5.6s ease-in forwards; animation: textHidden 1s 5.6s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info ul li:nth-of-type(8) { -webkit-animation: textHidden 1s 5.9s ease-in forwards; animation: textHidden 1s 5.9s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox { opacity: 1; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(1) { -webkit-animation: aboutItem 1s 6.5s ease-in forwards; animation: aboutItem 1s 6.5s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(1)::before { -webkit-animation: progress1 1s 6.8s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress1 1s 6.8s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(2) { -webkit-animation: aboutItem 1s 6.8s ease-in forwards; animation: aboutItem 1s 6.8s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(2)::before { -webkit-animation: progress2 1s 7.1s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress2 1s 7.1s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(3) { -webkit-animation: aboutItem 1s 7.1s ease-in forwards; animation: aboutItem 1s 7.1s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(3)::before { -webkit-animation: progress3 1s 7.4s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress3 1s 7.4s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(4) { -webkit-animation: aboutItem 1s 7.4s ease-in forwards; animation: aboutItem 1s 7.4s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(4)::before { -webkit-animation: progress4 1s 7.7s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress4 1s 7.7s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(5) { -webkit-animation: aboutItem 1s 7.7s ease-in forwards; animation: aboutItem 1s 7.7s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(5)::before { -webkit-animation: progress5 1s 8s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress5 1s 8s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(6) { -webkit-animation: aboutItem 1s 8s ease-in forwards; animation: aboutItem 1s 8s ease-in forwards; }

#Wrap article > section.con.step01.active .inner .info .progressBox .progress-bar:nth-of-type(6)::before { -webkit-animation: progress6 1s 8.3s both cubic-bezier(0.25, 0.46, 0.45, 0.94); animation: progress6 1s 8.3s both cubic-bezier(0.25, 0.46, 0.45, 0.94); }

#Wrap article > section.con.step02 .inner .txtBox { position: relative; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 50%; opacity: 0; }

#Wrap article > section.con.step02 .inner .txtBox strong { font-size: 3rem; font-weight: bold; opacity: 0; }

#Wrap article > section.con.step02 .inner .txtBox .iconBox { margin-top: 5rem; display: -webkit-box; display: -ms-flexbox; display: flex; gap: 5rem; opacity: 0; }

#Wrap article > section.con.step02 .inner .txtBox .iconBox > button { width: 5rem; height: 5rem; border-radius: 50%; background: rgba(255, 255, 255, 0.075); border: solid 1px rgba(255, 255, 255, 0.25); opacity: 0; }

#Wrap article > section.con.step02 .inner .txtBox .iconBox > button:hover { background-color: rgba(255, 255, 255, 0.25); }

#Wrap article > section.con.step02.active .inner .txtBox { -webkit-animation: contact_txt 1s .3s ease forwards; animation: contact_txt 1s .3s ease forwards; }

#Wrap article > section.con.step02.active .inner .txtBox strong { -webkit-animation: contact_txt 1s .3s ease forwards; animation: contact_txt 1s .3s ease forwards; }

#Wrap article > section.con.step02.active .inner .txtBox .iconBox { -webkit-animation: about_info 1s .8s ease-in forwards; animation: about_info 1s .8s ease-in forwards; }

#Wrap article > section.con.step02.active .inner .txtBox .iconBox > button:nth-of-type(1) { -webkit-animation: textHidden 1s 1s ease forwards; animation: textHidden 1s 1s ease forwards; }

#Wrap article > section.con.step02.active .inner .txtBox .iconBox > button:nth-of-type(2) { -webkit-animation: textHidden 1s 1.4s ease forwards; animation: textHidden 1s 1.4s ease forwards; }

#Wrap article > section.con.step02.active .inner .txtBox .iconBox > button:nth-of-type(3) { -webkit-animation: textHidden 1s 1.8s ease forwards; animation: textHidden 1s 1.8s ease forwards; }

#Wrap article > section.con.step03 .inner::before { content: ""; position: absolute; display: block; background: #222; width: 100%; height: 0.1rem; top: 12rem; }

#Wrap article > section.con.step03 .inner .tabBox { position: relative; top: 16rem; width: 100%; margin: 0 auto; }

#Wrap article > section.con.step03 .inner .tabBox .tab-hd { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; gap: 10rem; }

#Wrap article > section.con.step03 .inner .tabBox .tab-hd button { position: relative; font-size: 3rem; font-family: "GmarketSansMedium"; font-weight: bold; letter-spacing: -0.1rem; }

#Wrap article > section.con.step03 .inner .tabBox .tab-hd button.active::before { content: ""; position: absolute; display: block; background: #ffdd3f; width: 130%; height: 1.5rem; z-index: -1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 50%; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 5rem 0; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li { position: relative; width: calc(25% - 2rem); cursor: pointer; overflow: hidden; margin: 1rem; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li img { -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all 0.2s ease; transition: all 0.2s ease; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption { display: none; position: absolute; width: 80%; height: 80%; z-index: 1; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%; background: rgba(255, 255, 255, 0.95); color: #222; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption strong { font-size: 3rem; line-height: 10rem; font-weight: bold; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption p { font-size: 2rem; line-height: 4rem; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption span { font-size: 1rem; word-break: keep-all; text-align: center; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button { background: #222; width: 50%; height: 4rem; border-radius: 2rem; margin-top: 8rem; letter-spacing: 0.5rem; color: #fff; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button span { position: relative; width: 1rem; height: 1rem; margin-right: 1.5rem; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button span::before { content: ""; position: absolute; display: block; background: #fff; width: 1rem; height: 0.1rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 50%; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button span::after { content: ""; position: absolute; display: block; background: #fff; width: 0.1rem; height: 1rem; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 50%; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button:hover { background: #ffdd3f; color: #fff; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button:hover span::before, #Wrap article > section.con.step03 .inner .tabBox .tab-con li figcaption button:hover span::after { background: #fff; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li:hover figcaption { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; opacity: 1; -webkit-transition-delay: 0.2s; transition-delay: 0.2s; }

#Wrap article > section.con.step03 .inner .tabBox .tab-con li:hover img { -webkit-transform: scale(1.2); transform: scale(1.2); }

#Wrap article > section.con.active { display: block; width: 100%; height: 100vh; }

#Wrap article > section.con.active.step01 { background: #f5f5f5; -webkit-animation: about forwards .3s ease-in; animation: about forwards .3s ease-in; }

#Wrap article > section.con.active.step02 { background: #ffdd3f; -webkit-animation: contact forwards .3s ease-in; animation: contact forwards .3s ease-in; }

#Wrap article > section.con.active.step03 { background: #fff; -webkit-animation: ulmenu forwards .3s ease-in; animation: ulmenu forwards .3s ease-in; }

#Wrap .ppview { position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; top: 50%; z-index: 999; }

#Wrap .ppview > div { position: absolute; -webkit-transform: translate(-50%, -50%) scale(0.9); transform: translate(-50%, -50%) scale(0.9); left: 50%; top: 50%; padding: 1rem; background: #fff; border-radius: 2rem; }

#Wrap .ppview > div .iconone { position: absolute; top: 3rem; right: 3rem; width: 3rem; height: 3rem; overflow: hidden; z-index: 12; font-size: 0; }

#Wrap .ppview > div .iconone::before, #Wrap .ppview > div .iconone::after { content: ""; position: absolute; display: block; background: #222; width: 100%; height: 0.2rem; top: 50%; left: 0; margin-top: -1px; }

#Wrap .ppview > div .iconone::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#Wrap .ppview > div .iconone::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

@media screen and (max-width: 1024px) and (min-width: 769px) { body, html { font-size: 9px; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-hd { gap: 4rem; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-hd button.active::before { width: 100%; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-con li { width: calc(33.3% - 2rem); } }

@media screen and (max-width: 768px) { body, html { font-size: 8px; }
  #Wrap header { height: 6rem; }
  #Wrap header h1 { top: 0.5rem; }
  #Wrap nav { top: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 1.5rem; }
  #Wrap nav > button { top: 0; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); left: 50%; position: relative; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }
  #Wrap nav > button.about { left: 50%; }
  #Wrap nav > button.contact { right: inherit; }
  #Wrap nav > ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; gap: 1rem; top: 0; padding-top: 2.5rem; }
  #Wrap nav > ul::before { width: 80%; }
  #Wrap nav > ul li { margin-top: 0; }
  #Wrap article > section.con.step .inner .txtBox { height: 100vh; top: 50%; }
  #Wrap article > section.con.step .inner .txtBox > div.logo { width: 35rem; height: 20rem; }
  #Wrap article > section.con.step01 .inner .intro { top: 0; }
  #Wrap article > section.con.step01 .inner .intro::before { width: 70rem; height: 68rem; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
  #Wrap article > section.con.step01 .inner .intro strong { font-size: 3.6rem; }
  #Wrap article > section.con.step01 .inner .intro ul { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  #Wrap article > section.con.step01 .inner .intro ul li { height: 3rem; font-size: 2rem; }
  #Wrap article > section.con.step01 .inner .info { margin-top: 0; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; padding: 5rem 10%; }
  #Wrap article > section.con.step01 .inner .info > ul li:nth-of-type(odd) { width: 100%; }
  #Wrap article > section.con.step01 .inner .info > ul li:nth-of-type(even) { width: 100%; }
  #Wrap article > section.con.step01 .inner .info .progressBox .progress-bar { height: 3rem; }
  #Wrap article > section.con.step01 .inner .info .progressBox .progress-bar:not(:last-child) { margin-bottom: 1rem; }
  #Wrap article > section.con.step01 .inner .info .progressBox .progress-bar span { font-size: 1.2rem; }
  #Wrap article > section.con.step02 .inner .txtBox strong { font-size: 2.4rem; }
  #Wrap article > section.con.step02 .inner .txtBox .iconBox { margin-top: 3rem; gap: 2rem; }
  #Wrap article > section.con.step03 .inner::before { top: 8rem; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-hd { display: none; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-sct { display: block; width: calc(100% - 2rem); height: 5rem; border-color: #ddd; margin: 0 1rem; }
  #Wrap article > section.con.step03 .inner .tabBox .tab-con li { width: 100%; height: 100%; max-height: 50rem; }
  #Wrap .ppview > div { -webkit-transform: translate(-50%, -50%) scale(1.5); transform: translate(-50%, -50%) scale(1.5); } }
/*# sourceMappingURL=style.css.map */