@charset 'utf-8';

#Wrap {
    width: 100%;
    height: 100%;
    //overflow: hidden;
    //opacity: 0;

    header {
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 12rem;

        &.other {
            background: #fff;
        }

        h1 {
            position: relative;
            left: 1rem;
            top: 3rem;
            @include svg('../images/logo.svg', 10rem, 4.8rem, #222);

            a {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 0;
            }
        }

        .btn-close {
            display: none;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 3rem;
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            z-index: 12;
            opacity: 0;
            font-size: 0;

            &::before,
            &::after {
                @include beforeline($wh:100%, $ht:0.2rem, $bg:#222);
                top: 50%;
                left: 0;
                margin-top: -1px;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }

            &.active {
                display: block;
                animation: textHidden .3s .3s forwards;
                right: 1rem;
            }
        }
    }

    nav {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 80%;
        width: 100%;
        z-index: 1;

        button {
            color: #222;
            font-family: $font-g;
            font-weight: bold;

            &::after {
                @include hv-menu;
            }

            &:hover {
                &::after {
                    @include hv-menu-af;
                }
            }
        }

        >button {
            position: absolute;
            transform: translateY(-50%);
            top: 75%;
            z-index: 10;
            font-size: 3rem;

            &.about {
                left: 1rem;
            }

            &.contact {
                right: 1rem;
            }
        }

        >ul {
            position: relative;
            width: 100%;
            @include flex($con:ct, $align:ct);
            gap: 10rem;
            top: 6rem;

            &::before {
                @include beforeline($align:xct, $wh:calc(100% - 40rem), $ht:0.1rem, $bg:#222);
                top: 0;
            }

            li {
                position: relative;
                margin-top: 5rem;

                >button {
                    font-size: 2.4rem;
                    font-weight: bold;
                    font-family: $font-g;
                    letter-spacing: -0.1rem;
                    color: $txtColor01;
                }

                &:hover {
                    >button {
                        &::before {
                            @include hv-menu;
                        }
                    }
                }
            }
        }
    }

    article {
        position: relative;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;

        &.active {
            z-index: 11;
        }

        >section {
            &.con {
                width: 100%;
                height: 100%;

                &:not(.step) {
                    display: none;
                    position: absolute;
                    top: 0;
                    z-index: 1;

                    .inner {
                        max-width: 100%;
                    }
                }

                .inner {
                    width: 100%;
                    height: 100%
                }


                &.step {
                    background: $pointColor;

                    .inner {
                        width: 100%;
                        height: 100%;
                        @include flex($con:ct, $align:ct, $dir:col);
                        gap: 5rem;

                        .txtBox {
                            position: relative;
                            width: 100%;
                            height: 40rem;
                            transform: translateY(-50%);
                            top: 20%;

                            >div {
                                position: relative;

                                &.logo {
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    @include svg('../images/logo.svg', 86rem, 40rem, #222);
                                }

                                &.animate-in {
                                    p {
                                        animation: textHidden 0.1s 1.1s forwards;
                                    }

                                    &::before {
                                        background: #ffdf51;
                                    }

                                    &::after {
                                        background: #fff;
                                    }

                                    &::before,
                                    &::after {
                                        content: "";
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 100%;
                                        z-index: 9;
                                    }
                                }

                                &:nth-of-type(1) {
                                    &.animate-in {
                                        &::before {
                                            animation: revealLTR 1.8s ease;
                                        }

                                        &::after {
                                            animation: revealLTR 1s .6s ease;
                                        }
                                    }
                                }

                                &:nth-of-type(2) {
                                    &.animate-in {
                                        &::before {
                                            animation: revealRTL 1.8s ease;
                                        }

                                        &::after {
                                            animation: revealRTL 1s .6s ease;
                                        }
                                    }
                                }

                                &:nth-of-type(3) {
                                    &.animate-in {
                                        &::before {
                                            animation: revealRTL 1.8s ease;
                                        }

                                        &::after {
                                            animation: revealRTL 1s .6s ease;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                &.step01 {
                    background: #f5f5f5;

                    .inner {

                        // @include flex($con:ct, $align:ct);
                        .intro {
                            position: relative;
                            width: 100%;
                            height: 68vh;
                            @include flex($con:ct, $align:ct, $dir:col);
                            top: 10rem;
                            font-family: $font-g;
                            z-index: 1;
                            overflow: hidden;


                            &::before {
                                content: "";
                                position: absolute;
                                width: 86rem;
                                height: 40rem;
                                @include svg('../images/logo.svg', 140rem, 100rem, #fff);
                                opacity: 0;
                            }

                            strong {
                                position: relative;
                                display: block;
                                font-size: 5rem;
                                font-weight: bold;
                                opacity: 0;
                            }

                            ul {
                                position: relative;
                                z-index: 1;
                                top: 5rem;
                                width: 100rem;
                                @include flex($wrap:wr, $con:ct, $align:ct);
                                gap: 1rem;
                                font-size: 2.4rem;

                                li {
                                    padding: 0 3rem;
                                    height: 5rem;
                                    @include flex($con:ct, $align:ct);
                                    background: rgba(255, 221, 63, 0.1);
                                    border-radius: 2.5rem;
                                    opacity: 0;
                                }
                            }
                        }

                        .info {
                            position: relative;
                            width: 100%;
                            margin: 10rem auto 0;
                            padding: 10rem 20%;
                            @include flex($con:bt, $align:ct);
                            z-index: 1;
                            opacity: 0;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                width: 100%;
                                height: 30rem;
                                z-index: -1;
                                top: 11rem;
                                border-radius: 50% 50% 0 0;
                                transform: scale(2);
                                opacity: 0;
                            }

                            >ul {
                                @include flex($wrap:wr);

                                li {
                                    font-size: 1.8rem;
                                    line-height: 3.2rem;
                                    opacity: 0;

                                    &:nth-of-type(odd) {
                                        width: 15rem;
                                    }

                                    &:nth-of-type(even) {
                                        width: calc(100% - 15rem);
                                    }
                                }
                            }

                            .progressBox {
                                width: 100%;
                                position: relative;
                                //opacity: 0;
                                margin-top: 2rem;

                                .progress-bar {
                                    overflow: hidden;
                                    position: relative;
                                    width: 100%;
                                    height: 2rem;
                                    @include flex($align:ct, $con:st);
                                    //background: #fff;
                                    opacity: 0;

                                    &:not(:last-child) {
                                        margin-bottom: 2rem;
                                    }

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        height: 100%;
                                        left: 0;
                                        top: 0;
                                        transform-origin: left top;
                                        width: calc(100% - -2.8rem);
                                        will-change: transform;
                                    }

                                    span {
                                        position: absolute;
                                        left: 0.5rem;
                                        z-index: 1;
                                    }
                                }
                            }

                        }
                    }


                    &.active {
                        .inner {
                            .intro {
                                &::before {
                                    animation: textHidden 1s .1s ease-in forwards;
                                }

                                strong {
                                    animation: textHidden 1s .3s ease-in forwards;
                                }

                                ul {
                                    @for $i from 1 through 10 {
                                        li:nth-of-type(#{$i}) {
                                            $delay: .5s + 0.3s * ($i - 1);
                                            animation: textHidden 1s $delay ease-in forwards;
                                        }
                                    }
                                }
                            }

                            .info {
                                animation: about_info 1s 3.5s ease forwards;
                                background: $pointColor;

                                &::before {
                                    animation: about_info 1s .1s ease forwards;
                                    background: $pointColor;
                                }

                                ul {
                                    @for $i from 1 through 8 {
                                        li:nth-of-type(#{$i}) {
                                            $delay: 3.8s + 0.3s * ($i - 1);
                                            animation: textHidden 1s $delay ease-in forwards;
                                        }
                                    }
                                }

                                .progressBox {
                                    opacity: 1;

                                    .progress-bar {
                                        @for $i from 1 through 6 {
                                            &:nth-of-type(#{$i}) {
                                                $animation-delay: 6.5s + 0.3s * ($i - 1);
                                                animation: aboutItem 1s $animation-delay ease-in forwards;

                                                &::before {
                                                    $before-animation-delay: 6.8s + 0.3s * ($i - 1);
                                                    animation: progress#{$i} 1s $before-animation-delay both cubic-bezier(0.25, 0.46, 0.45, 0.94);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.step02 {
                    .inner {
                        .txtBox {
                            position: relative;
                            width: 100%;
                            @include flex($align:ct, $con:ct, $dir:col);
                            transform: translate(-50%, -50%);
                            left: 50%;
                            top: 50%;
                            opacity: 0;

                            strong {
                                font-size: 3rem;
                                font-weight: bold;
                                opacity: 0;
                            }

                            .iconBox {
                                margin-top: 5rem;
                                @include flex;
                                gap: 5rem;
                                opacity: 0;

                                >button {
                                    width: 5rem;
                                    height: 5rem;
                                    border-radius: 50%;
                                    background: rgba(255, 255, 255, 0.075);
                                    border: solid 1px rgba(255, 255, 255, 0.25);
                                    opacity: 0;

                                    &:hover {
                                        background-color: rgba(255, 255, 255, 0.25);
                                    }
                                }
                            }
                        }
                    }

                    &.active {
                        .inner {
                            .txtBox {
                                animation: contact_txt 1s .3s ease forwards;

                                strong {
                                    animation: contact_txt 1s .3s ease forwards;
                                }

                                .iconBox {
                                    animation: about_info 1s .8s ease-in forwards;

                                    >button {
                                        &:nth-of-type(1) {
                                            animation: textHidden 1s 1s ease forwards;
                                        }

                                        &:nth-of-type(2) {
                                            animation: textHidden 1s 1.4s ease forwards;
                                        }

                                        &:nth-of-type(3) {
                                            animation: textHidden 1s 1.8s ease forwards;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.step03 {
                    .inner {
                        .tabBox {
                            position: relative;
                            top: 16rem;
                            width: 100%;
                            margin: 0 auto;

                            .tab-hd {
                                @include flex($con:ct, $align:ct);
                                gap: 10rem;

                                button {
                                    position: relative;
                                    font-size: 3rem;
                                    font-family: $font-g;
                                    font-weight: bold;
                                    letter-spacing: -0.1rem;

                                    &.active {
                                        &::before {
                                            @include beforeline($align:ct, $wh:130%, $ht:1.5rem, $bg:$pointColor, $z:-1);
                                        }
                                    }
                                }
                            }

                            .tab-con {
                                @include flex($wrap:wr);
                                padding: 5rem 0;

                                li {
                                    position: relative;
                                    width: calc(25% - 2rem);
                                    cursor: pointer;
                                    overflow: hidden;
                                    margin: 1rem;

                                    img {
                                        transform: scale(1);
                                        @include transition;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }

                                    figcaption {
                                        display: none;
                                        position: absolute;
                                        width: 80%;
                                        height: 80%;
                                        z-index: 1;
                                        transform: translate(-50%, -50%);
                                        top: 50%;
                                        left: 50%;
                                        background: rgba(255, 255, 255, 0.95);
                                        color: #222;

                                        strong {
                                            font-size: 3rem;
                                            line-height: 10rem;
                                            font-weight: bold;
                                        }

                                        p {
                                            font-size: 2rem;
                                            line-height: 4rem;
                                        }

                                        span {
                                            font-size: 1rem;
                                            word-break: keep-all;
                                            text-align: center;
                                        }

                                        button {
                                            background: #222;
                                            width: 50%;
                                            height: 4rem;
                                            border-radius: 2rem;
                                            margin-top: 8rem;
                                            letter-spacing: 0.5rem;
                                            color: #fff;

                                            span {
                                                position: relative;
                                                width: 1rem;
                                                height: 1rem;
                                                margin-right: 1.5rem;

                                                &::before {
                                                    @include beforeline($align:ct, $wh:1rem, $ht:0.1rem, $bg:#fff)
                                                }

                                                &::after {
                                                    @include beforeline($align:ct, $wh:0.1rem, $ht:1rem, $bg:#fff)
                                                }
                                            }

                                            &:hover {
                                                background: $pointColor;
                                                color: #fff;

                                                span {

                                                    &::before,
                                                    &::after {
                                                        background: #fff;
                                                    }
                                                }
                                            }

                                        }

                                    }

                                    &:hover {
                                        figcaption {
                                            @include flex($con:ct, $align:ct, $dir:col);
                                            opacity: 1;
                                            transition-delay: 0.2s;
                                        }

                                        img {
                                            transform: scale(1.2);
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                &.active {
                    display: block;
                    width: 100%;
                    height: 100vh;

                    &.step01 {
                        background: #f5f5f5;
                        animation: about forwards .3s ease-in;
                    }

                    &.step02 {
                        background: $pointColor;
                        animation: contact forwards .3s ease-in;
                    }

                    &.step03 {
                        background: #fff;
                        animation: ulmenu forwards .3s ease-in;
                    }
                }
            }
        }
    }

    .ppview {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        z-index: 999;

        >div {
            position: absolute;
            transform: translate(-50%, -50%) scale(0.9);
            left: 50%;
            top: 50%;
            padding: 1rem;
            background: #fff;
            border-radius: 2rem;


            .iconone {
                position: absolute;
                top: 3rem;
                right: 3rem;
                width: 3rem;
                height: 3rem;
                overflow: hidden;
                z-index: 12;
                font-size: 0;

                &::before,
                &::after {
                    @include beforeline($wh:100%, $ht:0.2rem, $bg:#222);
                    top: 50%;
                    left: 0;
                    margin-top: -1px;
                }

                &::before {
                    transform: rotate(45deg);
                }

                &::after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}