@charset 'utf-8';

@mixin transition {
    transition: all 0.2s ease;
}

/* scroll */
@mixin scrollbar {
    width: 10px;
    height: 10px;
    background: #fff;
}

// ::-webkit-scrollbar 

@mixin scrollbar-thumb {
    height: 12px;
    background: #eee;
    border-radius: 8px;
}


@mixin select-scrollbar {
    width: 10px;
    height: 10px;
    background: #fff;
    border-left: 1px solid #9ba0a2
}

// ::-webkit-scrollbar 

@mixin select-scrollbar-thumb {
    height: 12px;
    background: #777;
    border-radius: 10px;
}

$font-g: "GmarketSansMedium";
$font-sb:"UhBeeJJIBBABBA";
$font-m: "NotoSansM";
$font-b: "NotoSansB";
$font-rem: "REM",
sans-serif;
$pointColor:#ffdd3f;
$subColor01:#000;
$txtColor01:#121212;
$url-images-com: "../images/common/";

@mixin flex($dir:null, $wrap:null, $align:null, $con:null) {
    display: flex;

    @if($dir==row) {
        flex-direction: row;
    }

    @if($dir==col) {
        flex-direction: column;
    }

    @if($wrap==wr) {
        flex-wrap: wrap;
    }

    @if($wrap==nwr) {
        flex-wrap: nowrap;
    }

    @if($align==st) {
        align-items: flex-start;
    }

    @if($align==ct) {
        align-items: center;
    }

    @if($align==en) {
        align-items: flex-end;
    }

    @if($con==bt) {
        justify-content: space-between;
    }

    @if($con==st) {
        justify-content: flex-start;
    }

    @if($con==ct) {
        justify-content: center;
    }

    @if($con==en) {
        justify-content: flex-end;
    }

    @if($con==ar) {
        justify-content: space-around;
    }

    @if($con==ev) {
        justify-content: space-evenly;
    }
}

@mixin beforeline($align:null, $wh:null, $ht:null, $z:null, $bg:null) {
    content: "";
    position: absolute;
    display: block;
    background: $bg;
    width: $wh;
    height: $ht;
    z-index: $z;

    @if($align==ct) {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    @if($align==xct) {
        transform: translateX(-50%);
        left: 50%;
    }

    @if($align==yct) {
        transform: translateY(-50%);
        top: 50%;
    }
}

@mixin hv-menu {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    height: 1rem;
    width: 100%;
    background: #222;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
}

@mixin hv-menu-af {
    opacity: 1;
    transform: scale(1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes about {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes contact {
    0% {
        right: -100%;
    }

    100% {
        right: 0;
    }
}

@keyframes ulmenu {
    0% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
    }

    65% {
        width: 100%;
        right: 0;
    }

    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
    }

    65% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes aboutItem {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes about_info {
    0% {
        bottom: -100%;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes progress1 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.85);
        background: #fff;
    }
}

@keyframes progress2 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.75);
        background: #fff;
    }
}

@keyframes progress3 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.5);
        background: #fff;
    }
}

@keyframes progress4 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.4);
        background: #fff;
    }
}

@keyframes progress5 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.85);
        background: #fff;
    }
}

@keyframes progress6 {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(0.85);
        background: #fff;
    }
}

@keyframes contact_txt {
    0% {
        top: -100%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;
    }
}

@mixin svg($path, $width, $height, $color) {
    width: $width;
    height: $height;
    background-color: $color;
    -webkit-mask-image: url($path);
    mask-image: url($path);
    background-size: cover;
    -webkit-background-size: cover;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}