@charset 'utf-8';

.contents-wrapper {
    &.home {

        .contents-hd {
            .searchBox {
                margin-top: 1.5rem;
            }
        }

        .contents-con {
            .card-row {
                &.type02 {
                    .card-item {
                        .card-con {
                            ul {
                                &.list {
                                    &.issue {
                                        padding-top: 1.5rem;
                                        justify-content: space-between;

                                        li {
                                            width: calc(50%);

                                            &:nth-child(even) {
                                                width: 9rem;

                                            }

                                            &:nth-child(odd) {
                                                @include flex-st-item;

                                                &::before {
                                                    @include beforemark;
                                                }
                                            }

                                            &:nth-of-type(1) {
                                                &::before {
                                                    background: #000;
                                                }
                                            }

                                            &:nth-of-type(3) {
                                                &::before {
                                                    background: #4c4c4c;
                                                }
                                            }

                                            &:nth-of-type(5) {
                                                &::before {
                                                    background: #7f7f7f;
                                                }
                                            }

                                            &:nth-of-type(7) {
                                                &::before {
                                                    background: #b2b2b2;
                                                }
                                            }

                                            &:nth-of-type(9) {
                                                &::before {
                                                    background: #ccc;
                                                }
                                            }

                                            &:nth-of-type(11) {
                                                &::before {
                                                    background: #e5e5e5;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.line-type {
                .sec-row {
                    .sec-con {
                        >div {
                            strong {
                                width: 18vh;
                            }
                        }
                    }
                }
            }
        }
    }

    &.report {
        .contents-con {
            padding-bottom: 1.5rem;

            .con-hd {
                .btn-wrap {
                    margin: 2rem 0 1.5rem;
                }
            }

            .sec-row {
                //border-bottom: 0.1rem solid #eaeaea;
                //margin-bottom: 1rem;

                &.first {
                    border-bottom: 0.3rem solid #eaeaea;

                    table {
                        thead {
                            th {
                                background: #f2f4f8 !important;
                            }
                        }

                    }
                }

                .tb-list {
                    &.type02 {
                        &.show {
                            .listItem {
                                dl {
                                    @include flex-en-item;

                                    &.tit {
                                        @include flex-ct-item;
                                    }

                                    dd {
                                        &:nth-last-child(-n+2) {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }

                        .listItem {
                            position: relative;
                            overflow: hidden;
                            overflow-x: auto;
                            max-height: 17rem;
                            padding: 0;
                            margin-top: 2rem;

                            &.total {
                                max-height: 22rem;
                                border-bottom: 3px solid #eaeaea;

                                dl {
                                    &.tit {
                                        background: #f2f4f8;
                                        padding: 1.5rem 0;

                                        dt {
                                            width: 44%;
                                            padding-left: 1.9rem;
                                        }
                                    }
                                }

                                .btn-drop {
                                    top: 19rem;

                                    &.active {
                                        top: 0
                                    }
                                }
                            }

                            dl {
                                @include flex-bt-item;

                                dt {
                                    text-align: left;
                                    letter-spacing: -2.2px;
                                }

                                dd {
                                    text-align: right;
                                    letter-spacing: -1px;
                                    font-family: $font-b;

                                    &:nth-last-child(-n+2) {
                                        display: none;
                                    }
                                }

                                dt,
                                dd {
                                    width: 25%;
                                    padding: 0 1%;
                                    line-height: 2.1rem;
                                    font-size: $font-12;
                                    border-bottom: 1rem;
                                }
                            }
                        }
                    }
                }

                .badge-mark {
                    width: 5rem;
                    height: 2.5rem;
                    font-size: 1.3rem;
                    margin-bottom: 1rem;
                }

                .btn-sortb {
                    position: relative;
                    @include flex-end;
                    margin: 1rem 0;
                }

                .btn-drop {
                    position: absolute;
                    width: 100%;
                    height: 3rem;
                    background: #fff;
                    top: 14rem;
                    transition: none;

                    &.active {
                        position: relative;
                        top: 0;

                        i {
                            transform: rotate(-180deg);
                        }
                    }
                }

                .tableBox {
                    border: 0;
                    height: 192px;
                    overflow: hidden;
                    overflow-x: auto;

                    table {
                        thead {
                            th {
                                background: transparent;
                            }
                        }

                        thead,
                        tbody {
                            tr {

                                th,
                                td {
                                    border: 0;
                                    line-height: 1;
                                    padding: 1rem 0;

                                    &.show {
                                        display: none;
                                    }

                                    &:nth-of-type(1) {
                                        text-align: left;
                                        padding-left: 1rem;
                                    }

                                    &:nth-of-type(2) {
                                        text-align: right;
                                        padding-right: 1rem;
                                    }

                                    &.fx {
                                        position: relative;
                                        height: 3rem;

                                        button {
                                            position: absolute;
                                            right: 1rem;
                                        }
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    font-family: $font-b;
                                }
                            }
                        }
                    }

                    &.df-tb {}
                }
            }

            .sortable {
                li {
                    @include flex-bt-item;
                    height: 3rem;
                    width: 100%;

                    span {
                        font-size: $font-14;
                    }

                    &::after {
                        @include beforeIco;
                        background-image: url($url-images-com + 'btn_list_move.svg');
                        width: 2rem;
                        height: 1.6rem;
                    }

                    &:nth-of-type(-n+5) {
                        span {
                            color: $mainColor-b;
                        }
                    }
                }
            }

            em {
                margin-top: 3rem;
            }
        }
    }

    &.ad {
        .contents-con {
            .card-row {
                &.type02 {
                    .card-item {
                        .card-con {
                            &.type02 {
                                tspan {
                                    &.txt-green {
                                        fill: $mainColor;
                                        font-size: 1.4rem;
                                        font-family: $font-r;
                                    }

                                    &.txt-df {
                                        margin: 0.2rem auto 0.7rem;
                                        font-size: 2.3rem;
                                        font-family: $font-b;
                                    }
                                }

                                .menu-list {
                                    width: 100%;
                                    @include flex-ar-item;
                                    margin: 2.5rem 0 2rem;
                                    position: relative;

                                    button {
                                        //@include flex-ct-item;
                                        flex-direction: column;

                                        span {
                                            display: block;
                                            font-size: $font-13;
                                        }

                                        i {
                                            &::before {
                                                @include beforeIco;
                                                width: 2.9rem;
                                                height: 2.9rem;
                                                margin: 0 auto 1rem;
                                            }
                                        }

                                        &:nth-child(1) {
                                            i {
                                                &::before {
                                                    background-image: url($url-images + "btn_time.svg")
                                                }
                                            }

                                            &::after {
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                transform: translate(-50%, -50%);
                                                top: 50%;
                                                left: 50%;
                                                width: 1px;
                                                height: 3.5rem;
                                                background: #ebebeb;
                                            }
                                        }

                                        &:nth-child(2) {
                                            i {
                                                &::before {
                                                    background-image: url($url-images + "btn_modify.svg")
                                                }
                                            }
                                        }
                                    }
                                }

                                .donut-txt {
                                    width: 100%;
                                    text-align: center;

                                    span {
                                        font-size: $font-14;
                                    }

                                    p {
                                        margin: 0.2rem auto 0.7rem;
                                        font-size: 2.3rem;
                                        font-family: $font-b;
                                    }
                                }

                                .status {
                                    margin-top: 2rem;

                                    span {
                                        font-size: 1.35rem;
                                        letter-spacing: -0.28px;

                                        &.badge-mark {
                                            width: auto;
                                            padding: 0 0.5rem;
                                            height: 2.5rem;
                                        }

                                        &:nth-of-type(2) {
                                            margin: 0 0.7rem 0 0.5rem;
                                        }
                                    }
                                }

                                .bg-box {
                                    margin-top: 3rem;

                                    dl {
                                        &:last-of-type {
                                            &::before {
                                                content: "";
                                                display: block;
                                                position: relative;
                                                width: 80%;
                                                height: 0.1rem;
                                                background: #e0e1e2;
                                                transform: translateX(-50%);
                                                left: 50%;
                                                margin: 1em 0
                                            }
                                        }

                                        dt {
                                            line-height: 1.8rem;
                                            margin-bottom: 0.3rem
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.ad-camModi {
        .contents-con {
            .sec-row {
                .sec-con {
                    >div {
                        margin-bottom: 3rem;

                        strong {}

                        .inputBox {
                            margin-top: 1rem;

                            &.type-align-bt {
                                span {
                                    margin-left: 1rem;
                                    font-size: $font-14;
                                }
                            }
                        }

                        .budgettxt {
                            margin-top: 1rem;

                            p {
                                font-family: $font-b;
                            }
                        }



                        .timeBoxWrap {
                            width: 100%;

                            .timeBox {
                                &:last-of-type {
                                    margin-left: 1rem;
                                }
                            }
                        }

                        &.daysize {
                            @include flex-column;

                            strong {
                                margin-bottom: 10px;
                            }

                            >div {
                                width: 100%;
                            }

                            .calendarBox {
                                width: 60%;
                                margin-right: 2%;
                            }

                            .timeBox {
                                width: 40%;
                            }
                        }
                    }
                }

                &:last-of-type {
                    .sec-con {
                        >div {
                            &:not(:first-child) {
                                strong {
                                    width: 5rem;
                                    word-break: keep-all;
                                }
                            }

                            .calendarBox {
                                width: 100%;
                            }

                            &.checkBox {
                                input[type="checkbox"]+label {
                                    align-items: flex-start;

                                    span {
                                        width: 86%;
                                        padding-top: 0.7rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}