header { position: fixed; top: 0; left: 0; width: 100%; height: 102px; background: transparent; z-index: 1; border-bottom: 1px solid #eee; }

header .header_area { display: none; }

header .inner { position: relative; }

header .inner h1 { position: absolute; left: 0; top: 34px; display: inline-block; }

header .inner h1 img { height: 30px; }

header .inner > nav { display: inline-block; margin: 40px 0 0; float: right; }

header .inner > nav a { display: inline-block; font-family: "NotoSansR"; font-size: 18px; color: rgba(0, 0, 0, 0.3); font-weight: normal; padding: 0 25px 0 25px; position: relative; }

header .inner > nav a:hover { color: #4cb578; }

header .inner > nav a:hover::before { content: ""; width: 4px; height: 4px; border-radius: 50%; position: absolute; left: 0; top: 50%; margin-top: -2px; margin-left: 17px; background: #4cb578; }

header .inner > nav a.active { color: #4cb578; }

header .inner > nav a.active::before { content: ""; width: 4px; height: 4px; border-radius: 50%; position: absolute; left: 0; top: 50%; margin-top: -2px; margin-left: 17px; background: #4cb578; }

header .inner .menu { display: none; position: absolute; right: 0; top: 21px; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; z-index: 1; }

header .inner .menu .line { width: 26px; height: 2px; background-color: #fff; display: block; margin: 6px 0 0 0; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; }

header .inner .menu .line:nth-child(1) { margin: 0; }

header .inner .menu:hover { cursor: pointer; }

header .inner .menu.active { -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; -webkit-transition-delay: 0.6s; transition-delay: 0.6s; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

header .inner .menu.active .line { background-color: #0c0c0c; }

header .inner .menu.active .line:nth-child(2) { width: 0px; }

header .inner .menu.active .line:nth-child(1) { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; transform: translateY(8px); -webkit-transform: translateY(8px); -ms-transform: translateY(8px); -o-transform: translateY(8px); -moz-transform: translateY(8px); }

header .inner .menu.active .line:nth-child(3) { -webkit-transition-delay: 0.3s; transition-delay: 0.3s; transform: translateY(-8px) rotate(90deg); -webkit-transform: translateY(-8px) rotate(90deg); -ms-transform: translateY(-8px) rotate(90deg); -o-transform: translateY(-8px) rotate(90deg); -moz-transform: translateY(-8px) rotate(90deg); }

header .inner .menuBox { display: none; visibility: hidden; overflow-y: scroll; position: fixed; top: 0px; left: 0; width: 100%; height: 100%; -webkit-transition: all .3s ease; transition: all .3s ease; }

header .inner .menuBox .dim { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); opacity: 0; visibility: hidden; -webkit-transition: all .3s ease; transition: all .3s ease; }

header .inner .menuBox .innerBox { position: absolute; right: -100%; top: 0; width: 80%; height: 100%; padding: 0; background: #fff; -webkit-overflow-scrolling: touch; -webkit-transition: all .4s ease; transition: all .4s ease; }

header .inner .menuBox .innerBox .btnWrap { padding: 15px 20px 15px 20px; border-top: 1px solid #bdbdbd; margin: 59px 0 0 0; }

header .inner .menuBox .innerBox .btnWrap button { padding: 5px 20px 5px 20px; font-size: 16px; margin: 0 5px 0 0; }

header .inner .menuBox .innerBox nav a { display: block; font-size: 16px; padding: 10px 20px 10px 20px; font-weight: bold; }

header .inner .menuBox .innerBox nav a.active { color: #ffd110; }

header .inner .menuBox *.active { visibility: visible; }

header .inner .menuBox *.active .dim { opacity: 1; visibility: visible; -webkit-transition: all .3s ease; transition: all .3s ease; }

header .inner .menuBox *.active .innerBox { right: 0; -webkit-transition: all .4s ease .2s; transition: all .4s ease .2s; }

header.other { height: 141px; }

header.other .header_area { width: 100%; height: 41px; background: #fff; position: relative; padding: 8px 0 0 0; text-align: right; border-bottom: 1px solid #ddd; display: block; }

header.other .header_area .inner > a { display: inline-block; vertical-align: middle; overflow: hidden; margin-left: 26px; font-size: 0; -webkit-transition: 0.1s ease-in-out; transition: 0.1s ease-in-out; }

header.other .header_area .inner > a.btn-family-mobon { width: 60px; height: 13px; background: url("../images/btn-mobon-off.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobon:hover { background: url("../images/btn-mobon-on.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-movideo { width: 71px; height: 13px; background: url("//img.mobon.net/main/images/btn-movideo-off.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-movideo:hover { background: url("//img.mobon.net/main/images/btn-movideo-on.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobtune { width: 85px; height: 13px; background: url("//img.mobon.net/main/images/btn-mobtune-off.png?v=1") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobtune:hover { background: url("//img.mobon.net/main/images/btn-mobtune-on.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobtrend { width: 99px; height: 13px; background: url("//img.mobon.net/main/images/btn-mobtrend-off.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobtrend:hover { background: url("//img.mobon.net/main/images/btn-mobtrend-on.png") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobsense { width: 85px; height: 13px; background: url("//img.mobon.net/main/images/btn-mobsense-off.png?v=1") top left no-repeat; }

header.other .header_area .inner > a.btn-family-mobsense:hover { background: url("//img.mobon.net/main/images/btn-mobsense-on.png") top left no-repeat; }

header.other .header_area .inner > a.btn-guide { width: 137px; height: 24px; background: #000; border-radius: 12px; color: #fff; text-align: center; font-size: 13px; line-height: 24px; font-weight: normal; }

header.footer { background: #fff; }

.quick_btn_wrap { position: fixed; right: 0; z-index: 11; cursor: pointer; width: 40px; height: 160px; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 50%; }

.quick_btn_wrap.active .quick_btn { display: none; }

.quick_btn_wrap.active::before { -webkit-transform: translateY(-50%) translateX(-258px); transform: translateY(-50%) translateX(-258px); }

.quick_btn_wrap.active::after { -webkit-transform: translateY(-50%) translateX(-267px) rotate(180deg); transform: translateY(-50%) translateX(-267px) rotate(180deg); }

.quick_btn_wrap .quick_btn { padding: 53px 14px 53px 13px; border-radius: 12px 0 0 12px; -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); background-image: linear-gradient(167deg, #4cb578 -3%, #80ae4c 103%); }

.quick_btn_wrap .quick_btn span { font-size: 18px; color: #fff; font-weight: 500; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }

.quick_btn_wrap::before { content: ""; width: 30px; height: 30px; border: 1px solid #e9e9e9; background: #fff; border-radius: 50%; display: block; position: absolute; right: 0; -webkit-transform: translateY(-50%) translateX(-33px); transform: translateY(-50%) translateX(-33px); top: 50%; }

.quick_btn_wrap::after { position: absolute; content: ""; width: 12px; height: 12px; background: url(../images/btn_join_arrow_down.png) center center no-repeat; display: block; top: 50%; right: 0; -webkit-transform: translateY(-50%) translateX(-43px); transform: translateY(-50%) translateX(-43px); }

.quick_wrap { display: none; position: fixed; width: 239px; height: auto; z-index: 10; background: #fff; padding: 20px 13px; border-radius: 12px; border: 1px solid #e9e9e9; -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); z-index: 10; -webkit-transform: translateY(-50%) translateX(0); transform: translateY(-50%) translateX(0); top: 50%; right: 0; }

.quick_wrap.open { display: block; right: 30px; }

.quick_wrap h1 { font-size: 20px; line-height: 29px; color: #222; font-weight: bold; }

.quick_wrap .login .form { width: 100%; position: relative; margin: 15px 0; }

.quick_wrap .login .form .input_style_01 { margin-bottom: 10px; }

.quick_wrap .login .form .input_style_01[type="text"], .quick_wrap .login .form .input_style_01[type="password"] { border: 1px solid #ebebeb; height: 42px; border-radius: 10px; }

.quick_wrap .login .form .input_style_01[type="text"]:focus, .quick_wrap .login .form .input_style_01[type="password"]:focus { -webkit-box-shadow: 0 0 1px 1px #4cb578; box-shadow: 0 0 1px 1px #4cb578; }

.quick_wrap .login .form.check_box { margin-top: 0; position: relative; }

.quick_wrap .login .form.check_box label input[type="checkbox"] + label { color: #222; font-size: 13px; text-align: center; line-height: 20px; }

.quick_wrap .login .form.check_box label input[type="checkbox"] + label span { display: inline-block; width: 20px; height: 20px; vertical-align: top; margin: 0 5px 0 0; background: url("../images/icon_checkoff.png") left top no-repeat; cursor: pointer; float: none; }

.quick_wrap .login .form.check_box label input[type="checkbox"]:checked + label span { display: inline-block; width: 20px; height: 20px; vertical-align: top; margin: 0 5px 0 0; background: url("../images/icon_check.png") left top no-repeat; cursor: pointer; float: none; }

.quick_wrap .login .form .validation { font-size: 11px; color: #e31e30; }

.quick_wrap .login .btnWrap { width: 100%; position: relative; }

.quick_wrap .login .btnWrap .btn { font-size: 18px; line-height: 43px; width: 100%; height: 43px; border-radius: 10px; }

.quick_wrap .login .btnWrap .btn.login_btn { background: #4cb578; color: #fff; }

.quick_wrap .login .btnWrap .btn_in { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; position: relative; margin-top: 15px; }

.quick_wrap .login .btnWrap .btn_in a { font-size: 11px; line-height: 17px; color: #222; margin: 0 5px; }

.quick_wrap .login .btnWrap .btn_in a:nth-child(1)::after { content: ""; display: inline-block; width: 1px; height: 10px; background: #b8b8b8; position: relative; right: -7px; top: 1px; }

.quick_wrap .login.login_user { text-align: center; }

.quick_wrap .login.login_user strong { width: 100%; position: relative; display: block; font-size: 23px; color: #222; line-height: 30px; padding-bottom: 8px; }

.quick_wrap .login.login_user strong span { font-size: 18px; }

.quick_wrap .login.login_user .user_id { clear: both; }

.quick_wrap .login.login_user .user_info { width: 100%; display: block; position: relative; background: #222; color: #fff; border-radius: 10px; margin: 13px 0; }

.quick_wrap .login.login_user .user_info .name { height: 43px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); line-height: 43px; font-size: 13px; }

.quick_wrap .login.login_user .user_info .point_wrap { padding: 17px 0; }

.quick_wrap .login.login_user .user_info .point_wrap .point { font-size: 23px; color: #4cb578; }

.quick_wrap .login.login_user .user_info .point_wrap .point span { font-size: 18px; }

.quick_wrap .login.login_user .user_info .point_wrap button { background: transparent; color: #fff; font-size: 12px; margin-top: 17px; }

.quick_wrap .login.login_user .user_info .point_wrap button::after { content: ""; display: inline-block; position: relative; width: 12px; height: 12px; background: url(../images/btn_go.png) center center no-repeat; top: 2px; }

.quick_wrap .login.login_user .logout_btn { background: #848484; color: #fff; }

.quick_wrap .client { padding-top: 15px; }

.quick_wrap .client .conWrap { position: relative; width: 100%; }

.quick_wrap .client .conWrap .con { margin-top: 13px; }

.quick_wrap .client .conWrap .con ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.quick_wrap .client .conWrap .con ul li { display: inline-block; }

.quick_wrap .client .conWrap .con ul li.img { width: 73px; height: 73px; }

.quick_wrap .client .conWrap .con ul li.text { font-size: 13px; line-height: 17px; color: #333; letter-spacing: -1px; }

.quick_wrap .client .conWrap .con ul li:nth-child(1) { margin-right: 8px; }

.quick_wrap .client .conWrap .con:nth-child(1) .img { background: url(../images/main_client1.png) center center no-repeat; }

.quick_wrap .client .conWrap .con:nth-child(2) .img { background: url(../images/main_client2.png) center center no-repeat; }

.quick_wrap .client .conWrap .con:nth-child(3) .img { background: url(../images/main_client3.png) center center no-repeat; }

.quick_wrap .client .conWrap .con:nth-child(4) .img { background: url(../images/main_client4.png) center center no-repeat; }
/*# sourceMappingURL=header.css.map */