@charset 'utf-8';

.contents-wrapper {
    &.all {
        padding: 0 2rem;

        .contents-con {
            width: 100%;

            &:not(.charge, .policy, .user) {
                height: calc(100vh - 11rem);
            }

            .sec-row {
                >div {
                    position: relative;

                    &.btn-wrap {
                        margin: 2rem 0;
                    }
                }
            }

            &.menu {
                padding: 0;

                >ul {
                    @include menu-list;

                    &.push {
                        margin-bottom: 1rem;

                        >li {
                            @include flex-bt-item;
                            font-size: $font-16;
                            font-family: $font-m;

                            .switchbox {
                                right: 2rem;
                            }

                            &.add-kakao {
                                button {
                                    &.kakao-push {
                                        position: absolute;
                                        right: 2rem;
                                    }
                                }


                            }
                        }
                    }
                }

                .btn-wrap {
                    position: absolute;
                    width: 100%;
                    bottom: 10rem;
                    transform: translateX(-50%);
                    left: 50%;
                    padding: 0 2.5rem;
                }
            }

            &.app-ver {
                padding-top: 2rem;

                .sec-row {
                    padding: 3rem;

                    >div {
                        @include flex-ar-item;
                        font-size: $font-16;
                        padding-bottom: 2rem;

                        &:last-of-type {
                            padding: 2rem 0 0 0;
                            border-top: 0.1rem solid #e0e1e2;
                        }

                        span {
                            @include flex-ct-item;
                            width: 8.5rem;
                            height: 4rem;
                            border: 1px solid $txtColor01;
                            border-radius: 2rem;
                            font-family: $font-b;
                        }
                    }
                }
            }

            &.kakao {
                padding-top: 2rem;

                .tableBox {
                    border: 0;

                    input {

                        &[type="text"],
                        &[type="number"] {
                            width: 90%;
                        }
                    }

                    button {
                        margin: 0 auto;
                    }

                    table {
                        thead {
                            tr {
                                th {
                                    background: #f2f4f8;
                                }
                            }
                        }

                        tbody {
                            tr {
                                td {
                                    text-align: left;
                                }

                                &:last-child {
                                    td {
                                        border-bottom: 1px solid #eaeaea;
                                    }
                                }
                            }
                        }

                        thead,
                        tbody {
                            tr {

                                th,
                                td {
                                    border-right: 0;
                                    padding: 1.3rem 0.5rem;
                                }
                            }
                        }
                    }
                }

                .addWrap {
                    padding-top: 1rem;

                    button {
                        &.ico-add {
                            width: 5%;
                            padding: 0 1.5rem;
                        }
                    }
                }
            }
        }
    }

    &.policy {
        //padding: 1rem;

        .contents-con {
            padding: 1rem 0;
            font-size: 1.3rem;
            line-height: 1.5;

            .tableBox {
                margin-bottom: 3rem;
                border: 0;

                table {
                    border: 1px solid #eaeaea;

                    caption {
                        visibility: hidden;
                    }

                    thead {
                        tr {}
                    }

                    tbody {
                        tr {
                            td {
                                vertical-align: middle;

                                padding: 5px;

                                &:first-child {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.charge {
        .contents-hd {
            width: 100%;
            padding: 1.5rem;

            .card-hd {
                strong {
                    position: relative;
                    font-size: $font-14;
                }
            }

            .card-con {
                .swiper {
                    .swiper-wrapper {
                        .week-header {
                            width: 100%;
                            @include flex-ct-item;
                            margin: 1rem 0;
                            font-size: $font-15;
                            font-family: $font-b;
                        }

                        .week-con {
                            .weekItem {
                                p {
                                    font-size: $font-14;
                                    height: 3rem;
                                    @include flex-ct-item;

                                    span {
                                        font-size: 2rem;
                                        font-family: $font-b;
                                        margin-left: 1rem;
                                    }
                                }
                            }
                        }
                    }

                    .swiper-pagination {
                        position: relative;
                        margin-top: 2rem;

                        span {
                            font-size: 0;
                            background: #cbcbcb;

                            &.swiper-pagination-bullet-active {
                                background: $txtColor01;
                            }
                        }
                    }
                }

            }
        }

        .btn-wrap {
            margin: 2rem 0 1.5rem
        }

        .contents-con {
            .sec-row {
                .sec-con {
                    strong {
                        width: 18vh;
                    }

                    .ch-acc {
                        p {
                            font-size: $font-14;

                            &:not(.badge-mark) {
                                line-height: 2.5rem;
                            }
                        }

                        .btn-wrap {
                            button {
                                margin-left: 0;
                            }
                        }

                        button {
                            margin-left: 2rem;

                            &.btn-m01-s {
                                width: 100%;
                            }
                        }
                    }

                    .ch-history {
                        @include flex-wrap;
                        @include flex-st-item;
                        margin-top: 2rem;

                        li {
                            width: calc(55%);
                            margin-bottom: 1.2rem;
                            font-size: $font-12;

                            &:nth-of-type(odd) {
                                width: calc(45%);
                                color: #777;
                            }
                        }

                    }
                }
            }
        }
    }

    &.user {
        .contents-con {
            .sec-row {
                &:first-child {
                    .sec-con {
                        >div {
                            &:last-of-type {
                                margin-bottom: 4rem;
                            }
                        }
                    }
                }

                .sec-hd {
                    border-bottom: 0.1rem solid #eaeaea;
                    margin-bottom: 3rem;
                    padding-bottom: 1rem
                }

                .sec-con {
                    >div {
                        margin-bottom: 3rem;
                    }

                    strong {}

                    .inputBox {
                        button {
                            margin-left: 1%;
                            letter-spacing: -0.28px;
                        }

                        &:not(:first-child) {
                            margin-top: 1rem;
                        }

                        em {
                            &.validation {
                                position: absolute;
                                top: 100%
                            }
                        }
                    }

                    .select {
                        margin-top: 1rem;
                    }
                }
            }

            .btn-wrap {
                margin: 2rem 0;

                button {
                    margin: 0 0.5rem;
                }
            }
        }


    }

    &.alarm {
        .contents-hd {}

        .contents-con {
            .sec-row {
                .alarm-list {
                    position: relative;
                    margin-top: 2rem;

                    .listItem {
                        position: relative;
                        @include flex-bt-item;
                        border-top: 1px solid #eaeaea;
                        padding: 2rem 0;
                        cursor: grab;
                        scroll-snap-type: x mandatory;
                        overflow-x: auto;
                        scrollbar-width: none;
                        scroll-snap-stop: always;

                        &::-webkit-scrollbar {
                            display: none
                        }

                        >* {
                            scroll-snap-align: start;
                        }

                        >a {
                            @include flex-bt-item;
                            width: 100%;

                            dl {

                                dt {
                                    width: fit-content;
                                    font-size: $font-14;
                                    color: #fff;
                                    background: $mainColor;
                                    height: 3rem;
                                    padding: 0 1.7rem;
                                    line-height: 3rem;
                                    border-radius: 1.5rem;
                                    margin-bottom: 1.5rem;
                                }

                                dd {
                                    word-break: keep-all;
                                    line-height: 2.1rem;
                                    font-size: 1.4rem;
                                    white-space: pre-line;

                                    &.day {
                                        font-size: 1.2rem;
                                        color: #999;
                                        margin-top: 1.5rem;
                                    }
                                }
                            }
                        }

                        button {
                            &.btn-drag-del {
                                position: absolute;
                                right: -10rem;
                                width: 8rem;
                                height: 100%;
                                color: #fff;
                                background: #ee3737;
                                border-radius: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}