@charset 'utf-8';

html {
    font-size: 62.5%
}

a,
button {
    @include transition
}

/********** scrollbar **********/
::-webkit-scrollbar {
    @include scrollbar
}

::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}

/********** layout **********/

/********** input **********/
/* input */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="email"],
textarea {
    font-family: $font-r;
    display: inline-block;
    height: 4rem;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: -0.02rem;
    box-sizing: border-box;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    font-size: 1.4rem;
    background-color: #fff;

    &:disabled {
        color: #777;
        background-color: #f9f9f9;
    }

    &:focus {
        outline: none;
        border: 1px solid #d0d0d0;
    }

    &::placeholder {
        color: #777;
    }
}

input[type="search"] {
    text-align: left;
    border: none;
    width: 80%;
    padding: 0;
    outline: none;

    &:focus {
        outline: none;
    }
}

/*textarea*/
textarea {
    resize: none;
}

/*input error*/
input[type="text"].error,
input[type="password"].error,
input[type="number"].error,
input[type="email"].error,
textarea.error {
    border: 1px solid #f07171;
    color: #f07171 !important;
    position: relative;
    background: url("/contents/images/common/icon_problem_red.png") 99% center no-repeat;
    background-size: 12px 12px;
}

/* radio basic */
input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    margin-right: 20px;
    font-size: 15px;
    vertical-align: middle;

    &:last-of-type {
        margin-right: 0;
    }
}

input[type="radio"]+label:before {
    //@include ico_radio_off;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 7px 2px 0;
    vertical-align: middle;
}

input[type="radio"]:checked+label:before {
    content: "";
    //@include ico_radio_on;
}

input[type="number"] {

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

/*input*/
.inputBox {
    width: 100%;
    position: relative;

    &.disabled-txt {
        input {
            &:disabled {
                background: transparent;
                border: 0;
                color: $txtColor01;
            }
        }
    }

    &.disabled-box {
        input {
            &:disabled {
                background: #f2f4f8;
                border-color: #eaeaea;
            }

            &.txt-blue {
                &:disabled {
                    &::placeholder {
                        color: $mainColor-b;
                        font-family: $font-b;
                    }
                }
            }
        }
    }

    input {
        width: 100%;

        &.size-df {
            width: 100%;
        }

        &.size01 {
            width: 1rem
        }

        &.size02 {
            width: 2rem
        }

        &.size03 {
            width: 3rem
        }

        &.size04 {
            width: 4rem
        }

        &.size05 {
            width: 5rem
        }

        &.size06 {
            width: 6rem
        }

        &.size07 {
            width: 7rem
        }

        &.size08 {
            width: 8rem
        }

        &.size09 {
            width: 9rem
        }

        &.size10 {
            width: 10rem
        }
    }
}

/*radio custom*/
.radioBox {
    input[type="radio"] {
        display: none;
    }

    input[type="radio"]+label {
        @include flex-st-item;
        font-size: $font-14;
        cursor: pointer;
    }

    input[type="radio"]+label:before {
        @include radio-off;
        content: "";
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin: 5px 10px 5px 0;
    }

    input[type="radio"]:checked+label:before {
        content: "";
        @include radio-on;
    }

    input[type="radio"]:checked:disabled+label::before {
        background: url("/contents/images/radio_disabled.png") center center no-repeat
    }
}

/*switch custom*/
.switchbox {
    position: relative;
    height: 2rem;

    input {
        &[type="checkbox"] {
            @include flex-item;
            width: 3.4rem;
            height: 2rem;
            border-radius: 1rem;
            -webkit-appearance: none;
            background-color: #999;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 1.8rem;
                height: 1.8rem;
                background-color: #fff;
                border-radius: 5rem;
                left: 0.2rem;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }

            &:checked {
                background-color: $mainColor;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;

                &::before {
                    content: '';
                    right: auto;
                    left: 2rem;
                }

                &::after {
                    left: 1.4rem;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                }
            }

            +label {
                position: absolute;
                font-size: 0;
                width: 1px;
                height: 1px;
                opacity: 0;

                &::before {
                    display: inline;
                    font-size: 1.3rem;
                }
            }
        }
    }
}


/* checkbox basic */
input[type="checkbox"] {
    @include ckbox-type;
}

input[type="checkbox"]+label {
    font-size: 1.5rem;
    vertical-align: middle;

    &:last-child {
        margin-right: 0;
    }
}

input[type="checkbox"]+label:before {
    //@include ico_checkbox_off;
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 7px 3px 0;
    vertical-align: middle;
}

input[type="checkbox"]:checked+label:before {
    content: "";
    //@include ico_checkbox_on;
}

/*checkbox custom df*/
.checkBox {
    @include checkbox;
}

/*checkbox custom txt*/
.textcheckBox {
    width: 100%;
    @include checkbox-txt;
}

.select {
    width: 100%;

    select {
        @include select;

        &:disabled {
            background: #fff url("/images/common/arrow_black.svg") no-repeat right 1rem center/1rem;
            opacity: 0.6;
        }
    }
}


.comboBox {
    position: relative;

    button {
        i {}
    }

    .cb-detail {
        display: none;
        position: absolute;
        border-radius: 6px;
        z-index: 1;
        background: #fff;

        ul {
            li {
                @include flex-item;
                height: 4rem;
                cursor: pointer;
                border-bottom: 1px solid #9ba0a2;

                &:last-of-type {
                    border-bottom: 0
                }

                a {
                    padding-left: 10px;
                }
            }
        }

        &.active {
            display: block
        }
    }

    &.menuType01 {
        .cb-detail {
            top: 4rem;
            min-width: 11rem;
            border: 1px solid $mainColor;

            ul {
                li {
                    &:hover {
                        a {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }

    &.selectType01 {
        .cb-btn {
            @include flex-bt-item;
            border: 1px solid #9ba0a2;
            width: 20rem;
            height: 4rem;
            border-radius: 0.5rem;
            padding: 0 1rem;
            background: #fff;
            cursor: pointer;
        }

        .cb-detail {
            width: 20rem;
            border: 1px solid #9ba0a2;
            border-top: 0;
            border-radius: 0 0 0.5rem 0.5rem;

            li {
                height: 30px;
            }

            &.active {}
        }
    }

    &.mdselectType01 {
        .cb-detail {
            width: 100%;

            &.active {}
        }
    }
}

.nav-selectBox {}

.con-selectBox {
    &.type01 {}

    &.type02 {}
}

.calendarBox {
    @include calendar;
}

.timeBox {
    position: relative;
    width: 100%;
    background: #f2f4f8;
    height: 4rem;
    @include flex-item;
    border-radius: 0.5rem;

    i {
        position: absolute;
        left: 1rem;
        width: 1.8rem;
        height: 2rem;
        z-index: 1;

        &::before {
            @include beforeIco;
            @include ico-time;
            width: 1.8rem;
            height: 2rem;
        }
    }

    .select {
        select {
            position: relative;
            left: 3.5rem;
            min-width: auto;
            background: #f2f4f8;
            border: 0;
            padding: 0.4rem 2% 0.4rem 1%;
            height: 4rem;

            option {
                padding: 0.4rem 5rem;
                width: 100%
            }
        }
    }
}

.searchBox {
    @include searchBox;
}

.tableBox {
    width: 100%;
    overflow: auto;
    border: 1px solid $tb-b-color;
    background: #fff;

    table {
        width: 100%;
        border-collapse: inherit;
        border-spacing: 0;
        color: #000;

        thead {
            tr {
                th {
                    background: #f4f4f4;
                    letter-spacing: -0.5px;
                    height: 4rem;
                    font-size: $font-13;
                }
            }
        }

        tbody {
            tr {

                td {
                    font-size: $font-12;
                    padding: 1.3rem 0;
                }
            }
        }

        thead,
        tbody {
            tr {

                th,
                td {
                    vertical-align: middle;
                    text-align: center;
                    word-break: keep-all;
                    line-height: 1.5;
                    border-right: 1px solid $tb-info-b-color;
                    border-bottom: 1px solid $tb-info-b-color;

                    &:last-of-type {
                        border-right: 0;
                    }
                }

                &:last-of-type {
                    td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }

    &.col {
        table {
            thead {
                position: sticky;
                top: 0;
                z-index: 1;
                background: #fff;
            }

        }

        &.c-type01 {
            table {
                tbody {

                    overflow: hidden;
                    overflow-y: auto;
                    width: 100%;
                    height: 15rem;
                }

                thead,
                tbody {
                    display: block;

                    tr {
                        display: table;
                        table-layout: fixed;
                        width: 100%;
                    }
                }
            }
        }

        &.c-type02 {
            height: 30rem;
            overflow: hidden;
            overflow-y: auto;

            table {
                tbody {}


            }
        }
    }

    &.row {
        overflow-x: scroll;

        table {
            width: 120%;

        }

        &.r-type01 {}
    }
}

.tabBox {
    width: 100%;
    position: relative;

    .tab-hd {
        ul {
            @include flex-ct-item;

            li {
                @include flex-ct-item;
                cursor: pointer;

                &.active {}
            }
        }

        &.type01 {
            margin: 3rem 0;

            ul {
                li {
                    font-size: $font-18;
                    font-family: $font-b;
                    letter-spacing: -0.36px;
                    margin: 0 2rem;

                    &.active {
                        color: $mainColor-b;
                        position: relative;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 3px;
                            background: $mainColor-b;
                            bottom: -1.2rem
                        }
                    }
                }
            }
        }
    }

    .tab-con {

        >div {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}


.not-con {
    width: 100%;
    height: 41.1rem;
    overflow: hidden;
    overflow-y: auto;
    margin: 3rem 0 3rem;
    position: relative;

    .noticeItem {
        width: 100%;
        @include flex-item;
        padding-bottom: 3rem;
        margin-left: 6px;
        border-left: 5px solid #ececec;

        &:last-child {
            padding-bottom: 0;
        }

        &::before {
            @include beforeIcotext;
            position: absolute;
            width: 2rem;
            height: 2rem;
            left: 0;
        }

        .noticeItemcon {
            width: 100%;
            position: relative;
            @include flex-item;
            padding: 2rem 2.5rem;
            margin: 0 1.5rem 0 3rem;
            border-radius: 4px;
            border: solid 1px #ececec;
            background-color: #f3f3f3;

            &::before {
                content: "";
                width: 2rem;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 4px 0 0 4px;
            }

            .ico-Ex-mark {
                position: relative;
                width: 4.9rem;
                height: 5rem;
                margin: 0 1rem;

                &::before {
                    @include beforeIco;
                    @include ico-Ex-mark;
                    width: 4.9rem;
                    height: 5rem;
                }
            }

            .noticeItem-dt {
                width: 100%;

                .noticeItem-hd {
                    @include flex-bt-item;
                    margin-bottom: 1remx;

                    >div {
                        @include flex-st-item;
                    }

                    .txt-mark {
                        font-size: 2rem;
                        letter-spacing: -0.4px;
                        font-weight: 500;
                    }

                    h4 {
                        font-size: $font-16;
                        color: $txtColor01
                    }

                    .day {
                        font-size: $font-14;
                        color: #9ba0a2;
                        letter-spacing: -0.28px;
                    }
                }

                p {
                    color: $txtColor01;
                    font-size: $font-14;
                    letter-spacing: -0.28px;
                    line-height: 2rem;
                }
            }
        }

        &.static {
            &::before {
                background: #009fff;
            }

            .noticeItemcon {
                &::before {
                    background: #009fff;
                }

                .noticeItem-dt {
                    .noticeItem-hd {
                        .txt-mark {
                            color: #009fff
                        }
                    }
                }
            }
        }

        &.copy {
            &::before {
                background: $mainColor
            }

            .noticeItemcon {
                &::before {
                    background: $mainColor;
                }

                .noticeItem-dt {
                    .noticeItem-hd {
                        .txt-mark {
                            color: $mainColor
                        }
                    }
                }
            }
        }

        &.nodata {
            border-left: 0;
            padding-bottom: 0;
            height: auto;
            min-height: 39rem;

            &::before {
                display: none;
            }

            .no-data {
                width: 100%;
                height: auto;
                @include flex-ct-item;

                span {
                    &::before {
                        @include beforeIco;
                        width: 5rem;
                        height: 4.4rem;
                        background-image: url('/contents/images/common/no_data.svg');
                        margin: 0px auto 1rem;
                    }
                }
            }
        }
    }
}

/********** align **********/
div,
button,
ul,
dt {
    &.type-align-st {
        @include flex-st-item;
    }

    &.type-align-ct {
        @include flex-ct-item;
    }

    &.type-align-en {
        @include flex-en-item;
    }

    &.type-align-bt {
        @include flex-bt-item;
    }

    &.type-align-ev {
        @include flex-ev-item;
    }

    &.type-align-ar {
        @include flex-ar-item;
    }

    &.type-col-align-bt-st {
        @include flex-column;
        justify-content: flex-start
    }

    &.type-wr-align-bt-st {
        @include flex-wrap;
        justify-content: flex-start
    }

    &.type-col-align-st-st {
        @include flex-st-item-start;
    }

    // &:not(.type-col-align-bt-st) {

    //     .checkBox,
    //     .textcheckBox {
    //         input[type="checkbox"]+label {
    //             &:first-of-type {
    //                 margin-right: 1rem
    //             }
    //         }
    //     }
    // }
}

p,
span,
th,
td,
em,
li,
strong,
dd,
div,
tr {
    &.txt-green {
        color: $mainColor;
    }

    &.txt-blue {
        color: #4781cc
    }

    &.txt-red {
        color: #dc5858
    }

    &.txt-red-df {
        color: #ee3737
    }

    &.txt-purple {
        color: #934ba8
    }

    &.ft-04 {
        font-size: $font-14;
    }

    &.font-b {
        font-family: $font-b;
    }

    &.validation {
        @include validation;
    }

    &.non-list {
        display: none !important;
    }
}

em {
    font-size: 1.1rem;
}

em,
span {
    &.g-style {
        display: block;
        font-size: $font-12;
        color: #666;
        letter-spacing: 0.24px;
        line-height: 1.8rem;
    }
}

.sorting {
    @include flex-bt-item;

    &::before {
        @include beforeIco;
        width: 16px;
        margin-right: 5px;
    }

    &.up {
        color: #ee3737;

        &::before {
            content: "▲";
            color: #ee3737;
        }
    }

    &.down {
        color: #4781cc;

        &::before {
            content: "▼";
            color: #4781cc;
        }
    }
}

.badge-mark {
    //margin: 1rem 0;
    @include flex-ct-item;
    width: 8rem;
    height: 3rem;
    border-radius: 1.5rem;
    border: 1px solid #222;

    &.blue {
        border-color: $mainColor-b;
        color: $mainColor-b;
    }

    &.red {
        border-color: #ee3737;
        color: #ee3737;
    }
}

.tooltip {
    margin-left: 1rem;

    &.active {

        position: relative;

        span {
            display: block;
        }
    }

    i {
        cursor: pointer;

        &:hover {
            overflow: visible;
        }
    }

    span {
        // &::before {
        //     content: "";
        //     position: absolute;
        //     width: 0;
        //     height: 0;
        //     top: -16px;
        //     border: solid transparent;
        //     pointer-events: none;
        //     transform: rotate(-180deg);
        //     border-color: rgba(133, 183, 78, 0);
        //     border-top-color: #fff;
        //     border-width: 8px;
        // }

        @include tooltip;


    }

    &.right {
        span {
            right: 0
        }
    }

    &.type-ct {
        span {
            transform: translateX(-50%);
            left: 50%;
        }
    }
}

.copied {
    opacity: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 90%;
    background: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 1rem;
    font-size: $font-12;
    color: #fff;
    text-align: center;
    @include transition;
    z-index: 99999;
}

.bg-box {
    @include bg-type02;
}

.donuts {
    width: 100%;
    position: relative;
    @include flex-column;
    align-items: center;
    text-align: center;

    .semi-donut {
        --percentage: 0;
        --fill: #85b74e;
        position: relative;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        color: var(--fill);
        padding: 20px 0 0 0;
        display: inline-block;

        &:after {
            content: "";
            border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
            position: absolute;
            border-radius: 50%;
            left: 0;
            top: 0;
            box-sizing: border-box;
            transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
            animation: fillAnimation 1s ease-in;
        }

        &.red {
            --fill: #ff0000;

            &:after {
                transform: rotate(calc(1deg * (-5 + var(--percentage) * 1.8)));
            }
        }

        &.blue {
            --fill: #3a79ef;

            &:after {
                transform: rotate(calc(1deg * (-5 + var(--percentage) * 1.8)));
            }
        }

        &.orange {
            --fill: #ef8600;

            &:after {
                transform: rotate(calc(1deg * (15 + var(--percentage) * 1.8)));
            }
        }

        &.yellow {
            --fill: #ffc000;

            &:after {
                transform: rotate(calc(1deg * (75 + var(--percentage) * 1.8)));
            }
        }

        &.lightgreen {
            --fill: #b8e08c;

            &:after {
                transform: rotate(calc(1deg * (105 + var(--percentage) * 1.8)));
            }
        }

        &.green {
            --fill: #85b74e;

            &:after {
                transform: rotate(calc(1deg * (130 + var(--percentage) * 1.8)));
            }
        }
    }

    @keyframes fillAnimation {
        0% {
            transform: rotate(-45deg);
        }

        50% {
            transform: rotate(135deg);
        }
    }

    @keyframes fillGraphAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }
    }

    .donut-txt {
        display: block;
        position: absolute;
        bottom: 0;
    }
}


/********** btn **********/
/*btn*/
button {
    @include flex-ct-item;
    border-radius: 0.5rem;

    /*btn-size*/
    &.btn-l {
        @include btn-l;
    }

    &.btn-l-m {
        @include btn-l-m;
    }

    &.btn-l-s {
        @include btn-l-s;
    }

    &.btn-m01 {
        @include btn-m01;
    }

    &.btn-m01-m {
        @include btn-m01-m
    }

    &.btn-m01-s {
        @include btn-m01-s;
    }

    &.btn-m02 {
        @include btn-m02;
    }

    &.btn-m02-m {
        @include btn-m02-m
    }

    &.btn-m02-s {
        @include btn-m02-s;
    }

    &.btn-m03 {
        @include btn-m03;
    }

    &.btn-m03-m {
        @include btn-m03-m
    }

    &.btn-m03-s {
        @include btn-m03-s;
    }

    &.btn-m04 {
        @include btn-m04;
    }

    &.btn-m04-m {
        @include btn-m04-m
    }

    &.btn-m04-s {
        @include btn-m01-s;
    }

    &.btn-s {
        @include btn-s;
    }

    &.btn-s-m {
        @include btn-s-m;
    }

    &.btn-s-s {
        @include btn-s-s;
    }

    &.btn-ss {
        @include btn-s;
    }

    &.btn-ss-m {
        @include btn-s-m;
    }

    &.btn-ss-s {
        @include btn-s-s;
    }

    &.txt-btn {
        color: $mainColor-b;
        font-size: 1.8rem;
        font-family: $font-m;
    }

    //btn size

    &.btn-green {
        background: $mainColor;
        color: #fff;
    }

    &.btn-blue {
        background: $mainColor-b;
        color: #fff;
    }

    &.btn-darkgray {
        background: #777;
        color: #fff;
    }

    &.btn-lightgray {
        background: #eee;
        color: $txtColor01;
    }

    &.btn-green-line {
        background: #fff;
        border: 1px solid $mainColor;
        color: $mainColor;
    }

    &.btn-gray {
        background: #cbcbcb;
        color: #999
    }

    &.btn-gray-line {
        background: #fff;
        border: 1px solid #dadada;
        color: $txtColor02;
    }

    &.btn-gray-line02 {
        background: #f6f6f6;
        border: 1px solid #eaeaea;
        color: $txtColor02;
    }

    //btn color
    &.btn-alarm {
        position: relative;

        i {
            width: 2rem;
            height: 2.2rem;
            background-image: url($url-images-com + 'btn_alarm.svg');
        }

        em {
            position: absolute;
            @include flex-ct-item;
            min-width: 2rem;
            height: 2.2rem;
            background: #e53e3e;
            border-radius: 1rem;
            top: -8px;
            right: -10px;
            color: #fff;
            font-size: 1.2rem;
            text-indent: 0;
            font-style: normal;
        }
    }

    &.btn-camlist {
        position: relative;

        i {
            width: 2.4rem;
            height: 2.4rem;
            background-image: url($url-images + "btn_list.svg");
            background-size: 100%;
        }
    }
}

i {
    position: relative;

    &.ico-search {
        width: 1.5rem;
        height: 1.5rem;

        &::before {
            @include beforeIco;
            @include ico-search;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &.ico-arrow-r-bk {
        width: 1.6rem;
        height: 1.2rem;

        &::before {
            @include beforeIco;
            @include ico-arrow-black;
            width: 1.6rem;
            height: 1.2rem;
            transform: rotate(-90deg);
        }
    }

    &.ico-arrow-l-bk {
        width: 1.6rem;
        height: 1.2rem;

        &::before {
            @include beforeIco;
            @include ico-arrow-black;
            width: 1.6rem;
            height: 1.2rem;
            transform: rotate(90deg);
        }
    }

    &.ico-arrow-black {
        width: 1.4rem;
        height: 1.1rem;

        &::before {
            @include beforeIco;
            @include ico-arrow-black;
            width: 1.4rem;
            height: 1.1rem;
        }
    }

    &.ico-arrow-prev-black {
        width: 1.4rem;
        height: 1.1rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'arrow_prev_balck.svg');
            width: 1.4rem;
            height: 1.1rem;
        }
    }

    &.ico-account {
        width: 1.6rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'ico_account.svg');
            width: 1.6rem;
            height: 2rem;
        }
    }

    &.ico-mobon-green {
        width: 2.1rem;
        height: 1.6rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'icon_mobon_green.svg');
            width: 2.1rem;
            height: 1.6rem;
        }
    }

    &.ico-mobon-gray {
        width: 2.1rem;
        height: 1.6rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'icon_mobon_gray.svg');
            width: 2.1rem;
            height: 1.6rem;
        }
    }

    &.ico-mobi-green {
        width: 0.9rem;
        height: 2.4rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'icon_mobi_green.svg');
            width: 0.9rem;
            height: 2.4rem;
        }
    }

    &.ico-mobi-gray {
        width: 0.9rem;
        height: 2.4rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'icon_mobi_gray.svg');
            width: 0.9rem;
            height: 2.4rem;
        }
    }

    &.ico-setting {
        width: 1.8rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            @include ico-setting;
            width: 1.8rem;
            height: 2rem;
        }
    }

    &.ico-close-redbg {
        width: 2rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_modal_close.svg');
            width: 2rem;
            height: 2rem;
        }
    }

    &.ico-add-bluebg {
        width: 2rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_modal_add.svg');
            width: 2rem;
            height: 2rem;
        }
    }

    &.ico-del {
        width: 2rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_delete.svg');
            width: 2rem;
            height: 2rem;
        }
    }

    &.ico-question {
        position: relative;
        width: 1.8rem;
        height: 1.8rem;
        cursor: pointer;

        &::before {
            @include beforeIco;
            @include ico-question;
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &.ico-sortb {
        width: 2.2rem;
        height: 1.6rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_move.svg');
            width: 2.2rem;
            height: 1.6rem;
        }
    }

    &.ico-list {
        width: 2rem;
        height: 1.6rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_list_move.svg');
            width: 2rem;
            height: 1.6rem;
        }
    }

    &.ico-timeS {
        width: 2rem;
        height: 2rem;

        &::before {
            @include beforeIco;
            background-image: url($url-images-com + 'btn_time_s.svg');
            width: 2rem;
            height: 2rem;
        }
    }

    &.ico-time {
        &::before {
            @include beforeIco;
            @include ico-time;
        }
    }
}