@charset 'utf-8';

#Wrap {
    position: relative;
    width: 100%;
    //min-width: 28rem;
    background-color: #fff;
}

/********** header **********/
.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    @include flex-bt-item;
    height: 5.5rem;
    background: #fff;
    padding: 0 1.5rem;
    border-bottom: 1px solid #e4e3df;

    strong {
        font-size: 1.8rem;
        letter-spacing: -0.36px;
        font-family: $font-b;
    }

    >div {
        p {
            &.user-name {
                font-family: $font-b;

                &::after {
                    content: "님";
                    font-family: $font-r;
                }
            }
        }

        button {
            &:last-of-type {
                margin-left: 1.5rem;
            }

            &.btn-prev {
                margin: 0 2rem 0 0;
            }

            &.btn-alarm {
                position: relative;

                i {
                    width: 2rem;
                    height: 2rem;
                    background-image: url($url-images-com + 'btn_alarm.svg');
                }

                em {
                    position: absolute;
                    @include flex-ct-item;
                    min-width: 2.2rem;
                    height: 1.9rem;
                    background: #e53e3e;
                    border-radius: 1rem;
                    top: -8px;
                    right: -10px;
                    color: #fff;
                    font-size: 1.2rem;
                    text-indent: 0;
                    font-style: normal;
                }
            }
        }

        &.hdDetail {
            display: none;
        }
    }
}

nav {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    border-top: 0.1rem solid #e4e3df;
    background: #fff;

    >ul {
        width: 100%;
        @include flex-bt-item;
        height: 5.5rem;

        li {
            &.on {
                a {
                    color: $mainColor;

                    i {
                        &.navico-home {
                            background-image: url($url-images + '/menu/btn_gnb_home_on.svg');
                        }

                        &.navico-ad {
                            background-image: url($url-images + '/menu/btn_gnb_ad_on.svg');
                            background-position: -1px 0;
                        }

                        &.navico-report {
                            background-image: url($url-images + '/menu/btn_gnb_report_on.svg');
                        }

                        &.navico-all {
                            background-image: url($url-images + '/menu/btn_gnb_all_on.svg');
                            background-position: 0 1px;
                        }

                        &.navico-admgt {
                            background-image: url($url-images + '/menu/btn_gnb_advertiser_on.svg');
                        }

                        &.navico-user {
                            background-image: url($url-images + '/menu/btn_gnb_myinfo_on.svg');
                        }
                    }
                }
            }

            a {
                @include flex-column;
                align-items: center;
                font-size: 1rem;
                letter-spacing: -0.2px;
                color: #6f7985;

                i {
                    display: block;
                    width: 2.8rem;
                    height: 2.8rem;

                    &.navico-home {
                        background-image: url($url-images + '/menu/btn_gnb_home.svg');
                    }

                    &.navico-ad {
                        background-image: url($url-images + '/menu/btn_gnb_ad.svg');
                    }

                    &.navico-report {
                        background-image: url($url-images + '/menu/btn_gnb_report.svg');
                    }

                    &.navico-all {
                        background-image: url($url-images + '/menu/btn_gnb_all.svg');
                    }

                    &.navico-admgt {
                        background-image: url($url-images + '/menu/btn_gnb_advertiser.svg');
                    }

                    &.navico-user {
                        background-image: url($url-images + '/menu/btn_gnb_myinfo.svg');
                    }
                }
            }
        }

        &.fx-list {
            li {
                width: 25%;

                a {
                    i {}
                }
            }
        }

        &.aduser-list {
            li {
                width: 50%
            }
        }
    }

    .all-menuWrap {
        display: none;
        width: 100%;
        height: calc(100vh - 5.5rem);
        background: #fff;
        position: fixed;
        z-index: 999;
        left: 0;
        top: 0;
        opacity: 0;
        overflow: hidden;
        @include transition;
        transform: translateX(-100%);

        &.active {
            display: block;
            opacity: 1;
            transform: translateX(0);
        }

        .header {
            position: relative;
        }

        .allmenu-gnb {
            width: 100%;
            height: 100%;
            padding: 0 2rem;

            >ul {
                width: 100%;
                @include flex-column;

                >li {
                    height: 5.9rem;
                    border-bottom: 0.1rem solid #eaeaea;

                    >a {
                        height: 5.9rem;
                        @include flex-bt-item;
                        font-size: $font-16;
                        font-family: $font-m;
                    }

                    .depth {
                        display: none;
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        height: 100%;
                        background: #fff;
                        top: 0;
                        left: 0;

                        &.on {
                            display: block;
                        }

                        .depth-con {
                            width: 100%;

                            &.app-ver {
                                padding: 2rem;

                                .bg-box {
                                    background: #f5f8f9;
                                    padding: 3rem;

                                    >div {
                                        @include flex-ar-item;
                                        font-size: $font-16;
                                        padding-bottom: 2rem;

                                        &:last-of-type {
                                            padding: 2rem 0 0 0;
                                            border-top: 0.1rem solid #e0e1e2;
                                        }

                                        span {
                                            @include flex-ct-item;
                                            width: 8.5rem;
                                            height: 4rem;
                                            border: 1px solid $txtColor01;
                                            border-radius: 2rem;
                                            font-family: $font-b;
                                        }

                                        // &:last-child {
                                        //     &::before {
                                        //         content: "";
                                        //         position: relative;
                                        //         display: block;
                                        //         width: 100%;
                                        //         height: 0.1rem;
                                        //         background: #e0e1e2;
                                        //         margin: 2rem 0;
                                        //     }

                                        // }
                                    }
                                }
                            }

                            &.push {
                                >ul {
                                    >li {
                                        @include flex-bt-item;
                                        font-size: $font-16;
                                        font-family: $font-m;
                                    }
                                }
                            }

                            .switchbox {
                                right: 2rem;
                            }

                            .add-kakao {
                                button {
                                    &.kakao-push {
                                        position: absolute;
                                        right: 2rem;
                                    }
                                }

                                .tableBox {
                                    &.kakao {
                                        border: 0;
                                        padding: 2rem;

                                        input {

                                            &[type="text"],
                                            &[type="number"] {
                                                width: 90%;
                                            }
                                        }

                                        button {
                                            margin: 0 auto;
                                        }

                                        table {
                                            thead {
                                                tr {
                                                    th {
                                                        background: #f2f4f8;
                                                    }
                                                }
                                            }

                                            tbody {
                                                tr {
                                                    td {
                                                        text-align: left;
                                                    }
                                                }
                                            }

                                            thead,
                                            tbody {
                                                tr {

                                                    th,
                                                    td {
                                                        border-right: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .btn-wrap {
                position: absolute;
                width: 100%;
                bottom: 3rem;
                transform: translateX(-50%);
                left: 50%;
                padding: 0 2.5rem;
            }

            // .bg-box {
            //     background: #f5f8f9;
            //     margin: 2rem;
            //     padding: 3rem;

            //     >div {
            //         //include flex-ar-item;

            //         &:last-child {
            //             &::before {
            //                 content: "";
            //                 position: relative;
            //                 display: block;
            //                 width: 100%;
            //                 height: 0.1rem;
            //                 background: #e0e1e2;
            //                 margin: 2rem 0;
            //             }

            //         }
            //     }
            // }
        }

    }
}


// header {
//     position: relative;
//     width: calc(100% - 250px);
//     height: 70px;
//     margin: 0 0 0 250px;
//     padding: 0 38px 0 34px;
//     z-index: 1;
//     background: #fff;
//     @include transition;
//     @include flex-bt-item;

//     &.wide-view {
//         width: calc(100% - 60px);
//         margin-left: 60px;
//     }

//     .header-menu {
//         @include flex-item;

//         .hamburger {
//             position: relative;
//             width: 20px;
//             cursor: pointer;

//             >div {
//                 display: block;
//                 width: 20px;
//                 height: 2px;
//                 margin-bottom: 5px;
//                 background-color: #1e1e1e;
//                 @include transition();

//                 &:last-child {
//                     margin-bottom: 0;
//                 }
//             }
//         }

//         a {
//             margin-left: 16px;

//             &.home {
//                 color: #1e1e1e;
//                 font-size: $font-16;
//                 font-family: $font-m;
//             }
//         }
//     }

//     .header-user {
//         @include flex-item;

//         .hd-btn {
//             @include flex-item;

//             button {
//                 position: relative;
//                 margin-left: 20px;

//                 i {
//                     width: 23px;
//                     height: 25px;
//                     background-position: center center;
//                     background-repeat: no-repeat;

//                     &.ico-notice {
//                         background-image: url($url-images-com+'header-notice.svg');
//                     }

//                     &.ico-memo {
//                         background-image: url($url-images-com+'header-memo.svg');
//                     }

//                     &.ico-user {
//                         background-image: url($url-images-com+'header-user.svg');
//                     }
//                 }

//                 em {
//                     display: block;
//                     position: absolute;
//                     top: -8px;
//                     right: -10px;
//                     min-width: 20px;
//                     height: 17px;
//                     background: #e53e3e;
//                     border-radius: 10px;
//                     line-height: 17px;
//                     text-align: center;
//                     color: #fff;
//                     font-size: 10px;
//                     text-indent: 0;
//                     font-style: normal;
//                 }
//             }
//         }

//         .hd-Detail {
//             position: absolute;
//             top: 70px;
//             right: 30px;

//             >div {
//                 display: none;
//                 position: relative;

//                 &.active {
//                     display: block;
//                 }

//                 &:not(.user-detail) {
//                     @include bg-type01;

//                     .detail-hd {
//                         width: 100%;
//                         position: relative;
//                         margin-bottom: 16px;
//                     }
//                 }
//             }

//             .not-detail {
//                 padding: 30px;

//                 .detail-hd {
//                     strong {
//                         font-size: $font-18;
//                         font-family: $font-b;
//                         color: $txtColor01;
//                     }

//                     .radioBox {
//                         @include flex-st-item;
//                         margin-bottom: 10px;
//                     }

//                     .detail-row {
//                         margin-bottom: 8px;
//                     }
//                 }

//                 .detail-alarmInfo {
//                     width: 100%;
//                     height: 24px;
//                     @include flex-ct-item;
//                     text-align: center;
//                     background: #f6f6f6;
//                     border-radius: 30px;
//                     font-size: $font-14;
//                 }

//             }

//             .memo-detail {
//                 width: 600px;
//                 padding: 0;
//                 height: 324px;
//                 overflow: visible;
//                 right: 0;

//                 .detail-hd {
//                     background: #ff6565;
//                     height: 56px;
//                     border-radius: 5px 5px 0 0;
//                     padding: 0 20px;
//                     margin: 0;
//                     @include flex-bt-item;

//                     strong {
//                         font-size: 16px;
//                         font-family: $font-b;
//                         color: #fff;
//                     }

//                     button {
//                         color: #fff;
//                         font-size: 16px;
//                         margin-left: 10px;

//                         &.hmp-edit {
//                             width: 27px;
//                             height: 25px;
//                             font-size: 0;

//                             &::before {
//                                 @include beforeIco;
//                                 display: block;
//                                 width: 27px;
//                                 height: 25px;
//                                 background-image: url($url-images-com + 'icon_edit_memo.png');
//                             }
//                         }
//                     }
//                 }

//                 .detail-con {
//                     height: 100%;
//                     overflow: hidden;
//                     margin: 0;

//                     &::before {
//                         display: none;
//                     }

//                     .memo-view {
//                         padding: 20px;
//                         overflow: hidden;
//                         overflow-y: auto;
//                         height: 248px;
//                     }
//                 }
//             }

//             .user-detail {
//                 position: initial;
//                 width: auto;
//                 height: auto;
//                 background: transparent;
//                 padding: 0;
//                 border-radius: 0;
//                 box-shadow: none;

//                 ul {
//                     display: none;
//                     position: relative;
//                     top: -15px;
//                     right: 0;
//                     z-index: 99999;
//                     width: 130px;
//                     background: #fff;
//                     border: 1px solid #bfbfbf;
//                     border-radius: 4px;

//                     li {
//                         padding: 10px;
//                         box-sizing: border-box;

//                         a {
//                             display: block;
//                             color: $txtColor01;

//                             &:hover {
//                                 color: #f02546;
//                             }
//                         }
//                     }

//                     li.logout {
//                         background: url("../images/common/logout.png") no-repeat right 15px center/10px;
//                     }

//                 }
//             }
//         }
//     }
// }

// nav {
//     position: absolute;
//     width: 250px;
//     height: 100%;
//     min-height: 100%;
//     min-height: -webkit-fill-available;
//     top: 0px;
//     left: 0;
//     z-index: 100;
//     background: #1e1e1e;
//     box-shadow: 0 10px 6px 0 rgba(0, 0, 0, 0.3);
//     color: #fff;
//     white-space: nowrap;

//     >div {
//         @include nav-common;
//     }

//     .authTitle {
//         @include flex-item;

//         h1 {
//             &.w-logo {
//                 display: block;

//                 img {
//                     width: 128px;
//                     height: 22px;
//                 }
//             }

//             &.m-logo {
//                 display: none
//             }
//         }
//     }

//     .userinfo {
//         @include flex-bt-item;
//         cursor: pointer;

//         div {
//             @include flex-item;
//             width: 195px;
//             font-family: $font-m;
//             font-size: $font-14;

//             &::before {
//                 @include beforeIco;
//                 width: 23px;
//                 height: 18px;
//                 @include closed-logo-m;
//                 margin-right: 5px;
//             }

//             strong {
//                 white-space: break-spaces;
//                 width: 171px;
//                 line-height: 18px;

//                 &::after {
//                     content: "님";
//                 }
//             }
//         }

//         button {
//             &.ico-arrow-white {
//                 width: 10px;
//                 height: 5px;
//                 @include ico-arrow-white;
//             }
//         }
//     }

//     .userinfo-detail {
//         display: none;
//         position: absolute;
//         width: 100%;
//         top: 70px;
//         z-index: 1;
//         background: #fff;
//         min-height: -webkit-fill-available;
//         padding: 0;

//         &.active {
//             display: block
//         }

//         .userinfo-search {
//             @include nav-common-w;
//             @include flex-item;

//             .searchBox {
//                 @include flex-bt-item;
//                 height: 44px;
//                 border: 1px solid $txtColor01;
//                 border-radius: 24px;

//                 button {
//                     &.ico-search {
//                         width: 10px;
//                         height: 5px;
//                         @include ico-arrow-black;
//                         transform: rotate(-180deg)
//                     }
//                 }
//             }
//         }

//         .userinfo-menu {
//             width: 100%;

//             >div {
//                 padding: 0 15px;

//                 strong {
//                     display: block;
//                     @include flex-item;
//                     height: 53px;
//                     margin-bottom: 7px;
//                     padding: 0;
//                     border-bottom: 1px solid #9ba0a2;
//                     color: $txtColor01;
//                     font-size: $font-16;
//                     font-family: $font-m;
//                     cursor: pointer;

//                     i {
//                         margin-right: 10px;
//                     }
//                 }

//                 &:not(.account) {
//                     strong {
//                         &::before {
//                             width: 19px;
//                             height: 18px;
//                             background-image: url('/contents/images/common/ico_start.svg');
//                         }
//                     }
//                 }

//                 .userinfo-menulist {
//                     @include flex-st-item;
//                     width: 100%;
//                     max-height: 52px;
//                     padding: 7px 0;

//                     >div {
//                         @include flex-st-item;

//                         &:first-child {
//                             width: 202px;
//                         }

//                         i {
//                             width: 18px;
//                             display: inline-block;

//                             &.ico-mobon-green,
//                             &.ico-mobon-gray,
//                             &.ico-arrow-nav {
//                                 width: 18px;
//                                 height: 13px;

//                                 &::before {
//                                     width: 18px;
//                                     height: 13px;
//                                 }
//                             }

//                             &.ico-user-gray,
//                             &.ico-circle-ck {
//                                 width: 18px;
//                                 height: 18px;

//                                 &::before {
//                                     width: 18px;
//                                     height: 18px;
//                                 }
//                             }

//                             &.ico-mobi-green,
//                             &.ico-mobi-gray {
//                                 width: 18px;
//                                 height: 22px;

//                                 &::before {
//                                     width: 18px;
//                                     height: 22px;
//                                     background-size: 38%;
//                                 }
//                             }

//                             &.ico-mobon-green,
//                             &.ico-mobi-green,
//                             &.ico-mobi-gray {
//                                 &::before {
//                                     margin: 0 auto;
//                                 }
//                             }
//                         }

//                         span {
//                             padding: 0 5px;
//                             font-size: $font-14;
//                             color: $txtColor01;
//                             letter-spacing: -0.7px;
//                         }
//                     }

//                 }

//                 &.account {
//                     span {
//                         @include flex-item;
//                         max-height: 100px;
//                         text-align: left;
//                         white-space: normal;
//                         color: #9ba0a2;

//                         i {
//                             display: block;
//                             width: 9px;
//                             height: 9px;
//                             margin-right: 5px;

//                             &::before {
//                                 content: "";
//                                 display: block;
//                                 position: relative;
//                                 width: 9px;
//                                 height: 9px;
//                                 border-radius: 50%;
//                                 background: #9ba0a2;
//                             }
//                         }

//                         &.on {
//                             i {
//                                 &::before {
//                                     background: $mainColor;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .group {
//         @include flex-item;

//         .group-item {
//             position: relative;
//             @include flex-item;
//             width: 100%;
//             height: 46px;
//             padding-left: 20px;
//             background: #707070;
//             border: 1px solid #fff;
//             border-radius: 23px;
//             cursor: pointer;

//             i {
//                 &.ico-plus-green {
//                     @include ico-plus-white;
//                     width: 14px;
//                     height: 14px;
//                     margin-right: 7px;
//                 }
//             }

//             span {
//                 font-size: $font-15;
//                 color: #fff
//             }

//             &:hover {
//                 border-color: $mainColor;
//                 background: $mainColor;

//                 span {
//                     color: #fff;
//                 }
//             }
//         }
//     }

//     >ul {
//         display: block;
//         width: 100%;

//         >li {
//             >a {
//                 position: relative;
//                 display: block;
//                 width: 100%;
//                 @include flex-item;
//                 height: 62px;
//                 padding-left: 20px;
//                 @include transition();

//                 &:after {}

//                 span {
//                     font-size: $font-16;
//                     color: #fff;
//                 }

//                 i {
//                     width: 20px;
//                     height: 22px;
//                     margin: 0 8px 0 0;
//                     background-position: center center;
//                     background-size: 100% 100%;
//                     background-repeat: no-repeat;

//                     &.ico-home {
//                         background-image: url($url-images-com +'icon_menu_home_off.svg');
//                     }

//                     &.ico-detail {
//                         background-image: url($url-images-com +'icon_menu_campaign_detail_off.svg');
//                     }

//                     &.ico-campaign {
//                         background-image: url($url-images-com +'icon_menu_campaign_off.svg');
//                     }

//                     &.ico-management {
//                         background-image: url($url-images-com +'icon_menu_strategy_management_off.svg');
//                     }

//                     &.ico-report {
//                         background-image: url($url-images-com +'icon_menu_report_off.svg');
//                     }
//                 }
//             }

//             &.active {
//                 background: $mainColor;

//                 >a {
//                     i {
//                         width: 20px;
//                         height: 22px;
//                         margin: 0 8px 0 0;
//                         background-position: center center;
//                         background-size: 100% 100%;
//                         background-repeat: no-repeat;

//                         &.ico-home {
//                             background-image: url($url-images-com +'icon_menu_home_on.svg');
//                         }

//                         &.ico-detail {
//                             background-image: url($url-images-com +'icon_menu_campaign_detail_on.svg');
//                         }

//                         &.ico-campaign {
//                             background-image: url($url-images-com +'icon_menu_campaign_on.svg');
//                         }

//                         &.ico-management {
//                             background-image: url($url-images-com +'icon_menu_strategy_management_on.svg');
//                         }

//                         &.ico-report {
//                             background-image: url($url-images-com +'icon_menu_report_on.svg');
//                         }
//                     }
//                 }
//             }

//             >ul {
//                 display: none;
//                 width: 100%;
//                 background-color: #ccc;
//             }

//             // >ul {
//             //     display: none;
//             //     width: 100%;
//             //     background-color: #ccc;

//             //     &.active {
//             //         display: block;

//             //     }

//             //     li {
//             //         a {
//             //             display: block;
//             //             padding: 15px 0 15px 50px;
//             //             font-size: 14px;
//             //             color: #666;
//             //             @include transition();

//             //             &:hover {
//             //                 color: $mainColor;
//             //                 font-family: "NotoSansM";
//             //             }
//             //         }

//             //         &.on {
//             //             a {
//             //                 color: $mainColor;
//             //                 font-family: "NotoSansM";
//             //             }
//             //         }
//             //     }
//             // }


//         }
//     }

//     &.closed {
//         .authTitle {
//             justify-content: center;
//             padding: 0;

//             &.active {
//                 background: #fff;
//                 border-bottom-color: #ececec;
//             }

//             h1 {
//                 &.w-logo {
//                     display: none;
//                 }

//                 &.m-logo {
//                     display: block;
//                 }
//             }

//             .hamburger {
//                 right: 20px;
//                 margin: -10px 0 0 0;

//                 >div {
//                     &:nth-of-type(1) {
//                         transform: translateY(0) rotate(0deg);
//                     }

//                     &:nth-of-type(2) {
//                         opacity: 1;
//                         transform: translateY(5px);
//                     }

//                     &:nth-of-type(3) {
//                         transform: translateY(10px) rotate(0deg);
//                     }
//                 }
//             }
//         }

//         .userinfo {
//             @include flex-column;
//             justify-content: center;

//             div {

//                 &::before,
//                 strong,
//                 span {
//                     display: none;
//                 }
//             }

//             button {
//                 &.ico-arrow-white {
//                     margin: 0;
//                     width: 24px;
//                     height: 18px;
//                     @include closed-logo-m;
//                 }
//             }
//         }

//         .group {
//             .group-item {
//                 flex-direction: column;
//                 justify-content: center;
//                 width: 22px;
//                 height: 22px;
//                 padding-left: 0;

//                 i {
//                     width: 11px;
//                     height: 11px;
//                     background-size: 100%;

//                     &.ico-plus-green {
//                         margin-right: 0;
//                     }
//                 }

//                 span {
//                     display: none;
//                 }
//             }
//         }

//         >ul {
//             >li {
//                 position: relative;

//                 >a {
//                     justify-content: center;
//                     padding: 0;

//                     span {
//                         display: none;
//                     }

//                     i {
//                         margin: 0;
//                         width: 20px;
//                         height: 20px;

//                         &.ico-home {
//                             background-image: url($url-images-com+'icon_menu_home_on.svg');
//                         }

//                         &.ico-detail {
//                             background-image: url($url-images-com+'icon_menu_campaign_detail_on.svg');
//                         }

//                         &.ico-campaign {
//                             background-image: url($url-images-com+'icon_menu_campaign_on.svg');
//                         }

//                         &.ico-management {
//                             background-image: url($url-images-com+'icon_menu_strategy_management_on.svg');
//                         }

//                         &.ico-report {
//                             background-image: url($url-images-com+'icon_menu_report_on.svg');
//                         }
//                     }


//                     &:before {
//                         display: none;
//                     }
//                 }

//                 >ul {
//                     display: none;
//                     position: absolute;
//                     top: 0;
//                     left: 65px;
//                     z-index: 10;
//                     width: 200px;
//                     background: #fff;
//                     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
//                     border-radius: 5px;

//                     li {
//                         a {
//                             padding: 13px;
//                         }
//                     }
//                 }
//             }
//         }

//         .userinfo-detail {
//             .userinfo-search {
//                 padding: 0 10px;
//                 border: 0;
//                 border-bottom: 1px solid #ececec;
//                 justify-content: center;

//                 .searchBox {
//                     width: 30px;
//                     height: 30px;
//                     border-radius: 15px;
//                     padding: 0;
//                     justify-content: center;
//                     border-color: $mainColor;


//                     .ico-search {
//                         margin-right: 0;
//                         background-repeat: no-repeat;
//                         background-position: center center;
//                         background-image: url($url-images-com+'search-regular-green.svg');
//                     }

//                     input[type="text"] {
//                         display: none;
//                     }
//                 }
//             }

//             .userinfo-menu {
//                 >div {
//                     border-bottom: 1px solid #ececec;

//                     strong {
//                         display: none;
//                     }

//                     .userinfo-menulist {
//                         padding: 15px 0;
//                         justify-content: center;

//                         >div {
//                             &:first-child {
//                                 width: auto;
//                             }

//                             span {
//                                 display: none;
//                             }

//                             i {
//                                 &.ico-mobon-green {
//                                     &::before {
//                                         width: 20px;
//                                         height: 15px;
//                                     }
//                                 }

//                                 &.ico-mobi-gray {
//                                     &::before {
//                                         width: auto;
//                                     }
//                                 }
//                             }

//                             &:last-child {
//                                 display: none
//                             }
//                         }
//                     }

//                     &:nth-child(2) {
//                         padding: 0;
//                         border-bottom: 0;

//                         .userinfo-menulist {
//                             justify-content: center;

//                             i {
//                                 margin: 0 auto;

//                                 &.ico-mobon-green {

//                                     width: 30px;
//                                     height: 25px;

//                                     &::before {
//                                         background-image: url($url-images-com+'closed_mobon.svg');
//                                         width: 30px;
//                                         height: 25px;
//                                     }

//                                     &.tune {
//                                         width: 37px;
//                                         height: 25px;

//                                         &::before {
//                                             background-image: url($url-images-com+'closed_mobtunes.svg');
//                                             width: 37px;
//                                             height: 25px;
//                                         }
//                                     }
//                                 }

//                                 &.ico-mobi-green {
//                                     width: 37px;
//                                     height: 22px;

//                                     &::before {
//                                         background-image: url($url-images-com+'closed_mobi.svg');
//                                         width: 37px;
//                                         height: 22px;
//                                         background-size: 100%;
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.contents-wrapper {
    @include transition();
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    padding: 1.5rem;
    font-size: $font-15;
    font-family: $font-r;
    color: $txtColor01;
    top: 5.5rem;

    .contents-con {
        &.layout {
            .sec-row {
                >div {
                    >div {
                        padding: 0 10px;
                    }
                }
            }
        }

    }

    .sec-row {
        padding: 10px;
    }
}