@charset "utf-8";

// Mix-in
@mixin clear {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin ellipsis {
  overflow: hidden;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
}

@mixin transition {
  transition: 0.3s;
}

@mixin btn1024 {
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 22px;
  letter-spacing: -2px;
}

@mixin pagination {
  display: block;
  margin-top: 25px;
  position: relative;
  bottom: 0;
}

@mixin step02_pagination {
  display: block;
  margin-top: 0;
  position: relative;
  bottom: 25px;
}

@mixin paginationoff {
  background: #888;
}

@mixin paginationon {
  background: #111;
}

@mixin arrow_next {
  content: "";
  width: 34px;
  height: 32px;
  background: url(../img/common_old/arrow.png) center center no-repeat;
  display: block;
  position: relative;
}

@mixin arrow_prev {
  content: "";
  width: 34px;
  height: 32px;
  background: url(../img/common_old/arrow.png) center center no-repeat;
  display: block;
  position: relative;
  transform: rotate(-180deg);
}

// Media Query
@mixin mobile {
  @media screen and (min-width:0) and (max-width: #{$media-tablet}) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: #{$media-phone}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$media-phone + 1px}) and (max-width: #{$media-tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$media-tablet + 1px}) {
    @content;
  }
}