@charset 'utf-8';

$white : #ffffff;
$point : #3f90ef;

$ft-main-color : #000000;

$label-color : #4d5157;
$input-ft-color : #191b1e;
$input-bd-color : #e1e3e8;
$input-ph-color : #91979e;
$disabled-color : #ebedf1;