@charset 'utf-8';


@keyframes scroll-arrow {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mainani {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes mainani_reverse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}


@keyframes leftslide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

}

@keyframes leftslide2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes rightslide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(50%);
    }

}

@keyframes rightslide2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes centerslide1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(50%);
    }

}

@keyframes centerslide2 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-50%);
    }

}

@keyframes imgfade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}