/*-------------------------------------------------------------------------------------------------------------
    Explain : 모비아이 홈페이지 통합페이지
    File : common.scss
    Date : 2026.03.04
    Updated : 리뉴얼
/*------------------------------------------------------------------------------------------------------------*/

@import "_fonts";
@import "_color";
@import "_images";
@import "_components";

@import "_layout";
@import "_allstyle";
@import "_ani";
@import "_modal";