/*-------------------------------------------------------------------------------------------------------------
    Explain : 모비아이 홈페이지 아이리뷰
    File : common.scss
    Date : 2026.02.24
    Updated : 아이리뷰 신규
/*------------------------------------------------------------------------------------------------------------*/

@import "_fonts";
@import "_color";
@import "_images";
@import "_components";

@import "_layout";
//@import "_ireviewimg";
@import "_ireviewstyle";
@import "_ani";
@import "_modal";