<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimun-seale=1.0, user-scalable=no" />
    <meta name="description" content="mobon" />
    <meta name="keywords" content="mobon" />
    <meta name="author" content="mobon" />
    <!-- mobile -->
    <meta name="apple-mobile-web-app-title" content="mobon">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="apple-touch-icon" type="image/x-icon" href="/">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/ico">
    <title>MOBON</title>
    <!-- 기본 CSS, JS -->
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <!--날짜선택관련-->
    <link type="text/css" href="/css/lib/daterangepicker_popup.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="/js/lib/daterangepicker_popup.js"></script>
    <!--//날짜선택관련-->
</head>
<div id="Wrap">
    <header class="header">
        <div class="header-menu">
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <a href="javascript:void(0);" class="home">layout</a>
        </div>
        <!--//header-menu-->
        <div class="header-user">
            <div class="hd-btn">
                <button type="button" data-HD="notice"><i class="ico-notice"></i></button>
                <button type="button" data-HD="memo"><i class="ico-memo"></i></button>
                <button type="button" data-HD="user" class="userbtn"><i class="ico-user"></i></button>
            </div>
            <!--//header-btn-->
            <div class="hd-Detail">
                <div id="notice" class="not-detail">
                    <div class="detail-hd type-col-align-bt-st">
                        <div class="detail-row type-align-bt">
                            <strong>알림</strong>
                            <button type="button"><i class="ico-close-gray ico-none"></i></button>
                        </div>
                        <div class="radioBox">
                            <input type="radio" name="notice-radio" id="notice-radioAll" value="00" checked="">
                            <label for="notice-radioAll">전체</label>
                            <input type="radio" name="notice-radio" id="notice-radio00" value="01">
                            <label for="notice-radio00">수동</label>
                            <input type="radio" name="notice-radio" id="notice-radio01" value="02">
                            <label for="notice-radio01">자동</label>
                        </div>
                        <div class="detail-row type-align-s">
                            <div class="calendarBox">
                                <div class="icon"></div>
                                <div class="calendar">
                                    <div class="dateChoice">
                                        <input type="text" id="notice-input" name="notice-input" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="checkBox">
                                <input type="checkbox" name="notice-check" id="notice-check" value="00">
                                <label for="notice-check">안 읽은 알림만 표시</label>
                            </div>
                        </div>
                    </div>
                    <!--//detail-hd-->
                    <div class="detail-alarmInfo">
                        <p class="guide">최근 14일간 알림 내역까지 확인할 수 있습니다.</p>
                    </div>
                    <div class="detail-con not-con">
                        <!--내용 x-->
                        <div class="noticeItem nodata">
                            <div class="no-data">
                                <span>NO DATA</span>
                            </div>
                        </div>
                        <!--//no data-->
                        <div class="noticeItem static">
                            <div class="noticeItemcon">
                                <i class="ico-Ex-mark"></i>
                                <div class="noticeItem-dt">
                                    <div class="noticeItem-hd">
                                        <div>
                                            <span class="txt-mark">[소재]</span>
                                            <h4>(그룹명)</h4>
                                        </div>
                                        <span class="day">YYYY-MM-DD</span>
                                    </div>
                                    <p>
                                        소재 품질지수가 다른 그룹에 비해 현저히 낮습니다.
                                        소재를 변경해보세요!
                                    </p>
                                </div>
                                <!--//noticeItem-dt-->
                            </div>
                            <!--//noticeItemcon-->
                        </div>
                        <!--//noticeItem-->
                        <div class="noticeItem copy">
                            <div class="noticeItemcon">
                                <i class="ico-Ex-mark"></i>
                                <div class="noticeItem-dt">
                                    <div class="noticeItem-hd">
                                        <div>
                                            <span class="txt-mark">[소재]</span>
                                            <h4>(그룹명)</h4>
                                        </div>
                                        <span class="day">YYYY-MM-DD</span>
                                    </div>
                                    <p>
                                        소재 품질지수가 다른 그룹에 비해 현저히 낮습니다.
                                        소재를 변경해보세요!
                                    </p>
                                </div>
                                <!--//noticeItem-dt-->
                            </div>
                            <!--//noticeItemcon-->
                        </div>
                        <!--//noticeItem-->
                    </div>
                </div>
                <div id="memo" class="memo-detail">
                    <div class="detail-hd">
                        <strong>계정 중요사항</strong>
                        <div class="type-align-en">
                            <!--//view모드  style="display:none"-->
                            <button type="button" class="hmp-edit">수정</button>
                            <!--//에디터 모드  style="display:none"-->
                            <button type="button" style="display:none">등록</button>
                            <button type="button" style="display:none">취소</button>
                        </div>
                    </div>
                    <div class="detail-con">
                        <!--view모드-->
                        <div class="memo-view">
                            <div>
                                <span>테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트테스트</span>
                            </div>
                        </div>

                        <!--에디터모드모드-->
                        <div class="memo-write" style="display:none">
                            <!--에디터영역-->
                        </div>
                    </div>
                </div>
                <div id="user" class="user-detail">
                    <ul>
                        <li><a href="javascript:void(0);">정보수정</a></li>
                        <li><a href="javascript:void(0);">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//header-user-->
    </header>
    <!--//header-->
    <nav class="navigation">
        <div class="authTitle">
            <!--open logo-->
            <h1 class="w-logo">
                <a href="javascript:void(0);">
                    <img src="/images/common/mobtivelogo_white.svg" alt="movtive 로고">
                </a>
            </h1>
            <!--closed logo-->
            <h1 class="m-logo">
                <a href="javascript:void(0);">
                    <img src="/images/common/closed_ico_logo.svg" alt="movtive 로고">
                </a>
            </h1>

        </div>
        <!--//authTitle-->
        <div class="userinfo">
            <div>
                <strong>운영고도화_김햇빛</strong>
            </div>
            <button type="button" class="ico-arrow-white"></button>
        </div>
        <!--//userinfo-->
        <div class="userinfo-detail">
            <div class="userinfo-search">
                <div class="searchBox nav-search">
                    <i class="ico-search"></i>
                    <input type="search" class="searchbar" id="search_title" placeholder="">
                </div>
            </div>
            <div class="userinfo-menu">
                <div class="account">
                    <strong class="prev-btn">
                        <button>
                            <i class="ico-arrow-prev-black"></i>
                        </button>
                        <i class="ico-account"></i>계정
                    </strong>
                    <button class="userinfo-menulist">
                        <div><i class="ico-mobon-green"></i><span class="on">디에이전시_다바걸</span></div>
                        <div><i class="ico-circle-ck"></i></div>
                    </button>
                    <button class="userinfo-menulist">
                        <div><i class="ico-mobi-gray"></i><span>연결 계정이 없습니다</span></div>
                        <div><i class="ico-user-gray"></i></div>
                    </button>
                </div>
                <div>
                    <strong><i class="ico-start"></i>바로가기</strong>
                    <button class="userinfo-menulist">
                        <div><i class="ico-mobon-green"></i><span>MOBON</span></div>
                        <div><i class="ico-arrow-nav"></i></div>
                    </button>
                    <button class="userinfo-menulist">
                        <div><i class="ico-mobon-green"></i><span>디에이전시_다바걸</span></div>
                        <div><i class="ico-arrow-nav"></i></div>
                    </button>
                    <button class="userinfo-menulist">
                        <div><i class="ico-mobi-green"></i><span>디에이전시_다바걸</span></div>
                        <div><i class="ico-arrow-nav"></i></div>
                    </button>
                </div>
            </div>
        </div>
        <!--//userinfo-detail-->
        <div class="group">
            <div class="group-item">
                <i class="ico-plus-green"></i>
                <span>그룹추가</span>
            </div>
        </div>
        <!--//group-->
        <ul>
            <li>
                <a href="javascript:void(0);"><i class="ico-home"></i><span>Home</span></a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ico-detail"></i><span>소재 관리</span></a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ico-campaign"></i><span>카피 관리</span></a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ico-management"></i><span>A/B 테스트</span></a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);"><i class="ico-report"></i><span>통합 보고서</span></a>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul>
            </li>
        </ul>
        <!--//menu-->
    </nav>
    <!--//navigation-->
    <article class="contents-wrapper">
        <section class="contents-hd"></section>
        <section class="contents-con layout">
            <div class="sec-row">
                <p>체크박스</p>
                <div class="type-align-bt">
                    <div class="checkBox type-align-st">
                        <input type="checkbox" name="df-ck" id="df-ckall" value="00" data-check-all=".df-ck">
                        <label for="df-ckall">all</label>
                        <input type="checkbox" class="df-ck" name="df-ck" id="df-ck00" value="01">
                        <label for="df-ck00">df-ck</label>
                        <input type="checkbox" class="df-ck" name="df-ck" id="df-ck01" value="12">
                        <label for="df-ck01">df-ck</label>
                    </div>
                    <!--//왼쪽 checkBox-->

                    <div class="checkBox type-align-bt">
                        <input type="checkbox" name="ckbt" id="df-ckallbt" value="00" data-check-all=".df-bt">
                        <label for="df-ckallbt">all</label>
                        <input type="checkbox" class="df-bt" name="df-ckbt" id="df-ck00bt" value="01">
                        <label for="df-ck00bt">df-bt</label>
                        <input type="checkbox" class="df-bt" name="df-ckbt" id="df-ck01bt" value="12">
                        <label for="df-ck01bt">df-bt</label>
                    </div>
                    <!--//사이드 checkBox-->

                    <div class="checkBox type-align-en">
                        <input type="checkbox" name="cken" id="df-ckallen" value="00" data-check-all=".df-en">
                        <label for="df-ckallen">all</label>
                        <input type="checkbox" class="df-en" name="df-cken" id="df-ck00en" value="01">
                        <label for="df-ck00en">df-en</label>
                        <input type="checkbox" class="df-en" name="df-cken" id="df-ck01en" value="12">
                        <label for="df-ck01en">df-en</label>
                    </div>
                    <!--//오른쪽 checkBox-->
                    <div class="checkBox type-col-align-bt-st">
                        <input type="checkbox" name="ckcst" id="df-ckallcst" value="00" data-check-all=".df-cst">
                        <label for="df-ckallcst">all</label>
                        <input type="checkbox" class="df-cst" name="df-ckcst" id="df-ck00cst" value="01">
                        <label for="df-ck00cst">df-cst</label>
                        <input type="checkbox" class="df-cst" name="df-ckcst" id="df-ck01cst" value="12">
                        <label for="df-ck01cst">df-cst</label>
                    </div>
                    <!--//컬럼 checkBox-->
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>txt 체크박스</p>
                <div class="type-align-bt">
                    <div class="textcheckBox type-align-st">
                        <input type="checkbox" name="txt-ck" id="txt-ckall" value="00" data-check-all=".txt-ck">
                        <label for="txt-ckall">all</label>
                        <input type="checkbox" class="txt-ck" name="txt-ck" id="txt-ck00" value="01">
                        <label for="txt-ck00">txt-ck</label>
                        <input type="checkbox" class="txt-ck" name="txt-ck" id="txt-ck01" value="02">
                        <label for="txt-ck01">txt-ck</label>
                    </div>
                    <!--//왼쪽 checkBox-->
                    <div class="textcheckBox type-align-bt">
                        <input type="checkbox" name="txt-ckbt" id="txt-ckallbt" value="00" data-check-all=".txt-ckbt">
                        <label for="txt-ckallbt">all</label>
                        <input type="checkbox" class="txt-ckbt" name="txt-ckbt" id="txt-ck00bt" value="01">
                        <label for="txt-ck00bt">txt-ck</label>
                        <input type="checkbox" class="txt-ckbt" name="txt-ckbt" id="txt-ck01bt" value="02">
                        <label for="txt-ck01bt">txt-ck</label>
                    </div>
                    <!--//사이드 checkBox-->

                    <div class="textcheckBox type-align-en">
                        <input type="checkbox" name="txt-cken" id="txt-ckallen" value="00" data-check-all=".txt-cken">
                        <label for="txt-ckallen">all</label>
                        <input type="checkbox" class="txt-cken" name="txt-cken" id="txt-ck00en" value="01">
                        <label for="txt-ck00en">txt-ck</label>
                        <input type="checkbox" class="txt-cken" name="txt-cken" id="txt-ck01en" value="02">
                        <label for="txt-ck01en">txt-ck</label>
                    </div>
                    <!--//오른쪽 checkBox-->

                    <div class="textcheckBox type-col-align-bt-st">
                        <input type="checkbox" name="txt-ckcst" id="txt-ckallcst" value="00"
                            data-check-all=".txt-ckcst">
                        <label for="txt-ckallcst">all</label>
                        <input type="checkbox" class="txt-ckcst" name="txt-ckcst" id="txt-ck00cst" value="01">
                        <label for="txt-ck00cst">txt-ck</label>
                        <input type="checkbox" class="txt-ckcst" name="txt-ckcst" id="txt-ck01cst" value="02">
                        <label for="txt-ck01cst">txt-ck</label>

                    </div>
                    <!--//컬럼 checkBox-->
                </div>
            </div>
            <!--//sec-row-->

            <div class="sec-row">
                <p>토글 체크박스</p>
                <div class="type-align-bt">
                    <div class="switchbox type-align-st" style="padding: 0;">
                        <input type="checkbox" name="switch" id="switch01" checked="">
                        <label for="switch01"></label>
                    </div>
                    <!--//왼쪽 checkBox-->
                    <div class="textcheckBox type-align-bt">
                        <input type="checkbox" name="txt-ckbt" id="txt-ckallbt" value="00" data-check-all=".txt-ckbt">
                        <label for="txt-ckallbt">all</label>
                        <input type="checkbox" class="txt-ckbt" name="txt-ckbt" id="txt-ck00bt" value="01">
                        <label for="txt-ck00bt">txt-ck</label>
                        <input type="checkbox" class="txt-ckbt" name="txt-ckbt" id="txt-ck01bt" value="02">
                        <label for="txt-ck01bt">txt-ck</label>
                    </div>
                    <!--//사이드 checkBox-->

                    <div class="textcheckBox type-align-en">
                        <input type="checkbox" name="txt-cken" id="txt-ckallen" value="00" data-check-all=".txt-cken">
                        <label for="txt-ckallen">all</label>
                        <input type="checkbox" class="txt-cken" name="txt-cken" id="txt-ck00en" value="01">
                        <label for="txt-ck00en">txt-ck</label>
                        <input type="checkbox" class="txt-cken" name="txt-cken" id="txt-ck01en" value="02">
                        <label for="txt-ck01en">txt-ck</label>
                    </div>
                    <!--//오른쪽 checkBox-->

                    <div class="textcheckBox type-col-align-bt-st">
                        <input type="checkbox" name="txt-ckcst" id="txt-ckallcst" value="00"
                            data-check-all=".txt-ckcst">
                        <label for="txt-ckallcst">all</label>
                        <input type="checkbox" class="txt-ckcst" name="txt-ckcst" id="txt-ck00cst" value="01">
                        <label for="txt-ck00cst">txt-ck</label>
                        <input type="checkbox" class="txt-ckcst" name="txt-ckcst" id="txt-ck01cst" value="02">
                        <label for="txt-ck01cst">txt-ck</label>

                    </div>
                    <!--//컬럼 checkBox-->
                </div>
            </div>
            <!--//sec-row-->

            <div class="sec-row">
                <p>라디오박스</p>
                <div class="type-align-bt">
                    <div class="radioBox type-align-st">
                        <input type="radio" name="df-radio" id="df-radio00" value="00" checked>
                        <label for="df-radio00">24px</label>
                        <input type="radio" name="df-radio" id="df-radio01" value="01">
                        <label for="df-radio01">ip_radio_l</label>
                    </div>
                    <!--//왼쪽 radioBox-->

                    <div class="radioBox type-align-bt">
                        <input type="radio" name="df-radiobt" id="df-radio00bt" value="00" checked>
                        <label for="df-radio00bt">24px</label>
                        <input type="radio" name="df-radiobt" id="df-radio01bt" value="01">
                        <label for="df-radio01bt">ip_radio_l</label>
                    </div>
                    <!--//사이드 radioBox-->

                    <div class="radioBox type-align-en">
                        <input type="radio" name="df-radioen" id="df-radio00en" value="00" checked>
                        <label for="df-radio00en">24px</label>
                        <input type="radio" name="df-radioen" id="df-radio01en" value="01">
                        <label for="df-radio01en">ip_radio_l</label>
                    </div>
                    <!--//오른쪽 radioBox-->

                    <div class="radioBox type-col-align-bt-st">
                        <input type="radio" name="df-radiocst" id="df-radio00cst" value="00" checked>
                        <label for="df-radio00cst">24px</label>
                        <input type="radio" name="df-radiocst" id="df-radio01cst" value="01">
                        <label for="df-radio01cst">ip_radio_l</label>
                    </div>
                    <!--//컬럼 radioBox-->
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>select</p>
                <div class="type-align-bt">
                    <div class="select type-align-st">
                        <select>
                            <option value="1" selected>기본</option>
                            <option value="2">투데이카트매칭</option>
                            <option value="3">위클리카트매칭</option>
                            <option value="4">투데이본상품매칭</option>
                        </select>
                    </div>
                    <!--//왼쪽 select-->

                    <div class="select type-align-bt">
                        <select>
                            <option value="1" selected>전체</option>
                            <option value="2">투데이카트매칭</option>
                            <option value="3">위클리카트매칭</option>
                            <option value="4">투데이본상품매칭</option>
                        </select>
                    </div>
                    <!--//사이드 select-->

                    <div class="select type-align-en">
                        <select>
                            <option value="1" selected>전체</option>
                            <option value="2">투데이카트매칭</option>
                            <option value="3">위클리카트매칭</option>
                            <option value="4">투데이본상품매칭</option>
                        </select>
                    </div>
                    <!--//오른쪽 select-->
                    <div class="select type-col-align-bt-st">
                        <select>
                            <option value="1" selected>전체</option>
                            <option value="2">투데이카트매칭</option>
                            <option value="3">위클리카트매칭</option>
                            <option value="4">투데이본상품매칭</option>
                        </select>
                    </div>
                    <!--//컬럼 select-->
                </div>
            </div>
            <!--//sec-row-->

            <div class="sec-row">
                <p>calendar</p>
                <div class="type-align-st">
                    <div class="calendarBox type-align-st" id="datePicker">
                        <div class="icon"></div>
                        <div class="calendar">
                            <div class="dateChoice">
                                <input type="text" id="df-input" name="df-input" value="">
                            </div>
                        </div>
                    </div>
                    <!--//왼쪽 calendarBox-->
                </div>
            </div>
            <!--//sec-row-->

            <div class="sec-row">
                <p>input</p>
                <div class="type-align-bt">
                    <div class="inputBox type-align-st">
                        <div class="inputItem">
                            <input type="text" class="size01" placeholder="input sample1">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="size02" placeholder="input sample1">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="size03" placeholder="input sample1">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="size04" placeholder="input sample1">
                        </div>
                        <div class="inputItem">
                            <input type="text" class="size05" placeholder=" input sample1">
                        </div>
                    </div>
                    <!--//왼쪽 calendarBox-->
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>button</p>
                <div class="type-align-st">
                    <button type="button" class="btn-l btn-green">sample1</button>
                    <button type="button" class="btn-l-m btn-green">sample1</button>
                    <button type="button" class="btn-l-s btn-green">sample1</button>
                    <button type="button" class="btn-l-ss btn-green">sample1</button>
                </div>
                <div class="type-align-ct">
                    <button type="button" class="btn-m btn-green">sample1</button>
                    <button type="button" class="btn-m-m btn-green">sample1</button>
                    <button type="button" class="btn-m-s btn-green">sample1</button>
                    <button type="button" class="btn-m-ss btn-green">sample1</button>
                </div>
                <div class="type-align-bt">
                    <button type="button" class="btn-s btn-green">sample1</button>
                    <button type="button" class="btn-s-m btn-green">sample1</button>
                    <button type="button" class="btn-s-s btn-green">sample1</button>
                    <button type="button" class="btn-s-ss btn-green">sample1</button>
                </div>
                <div class="type-align-en">
                    <button type="button" class="btn-ss btn-green">sample1</button>
                    <button type="button" class="btn-ss-m btn-green">sample1</button>
                    <button type="button" class="btn-ss-s btn-green">sample1</button>
                    <button type="button" class="btn-ss-ss btn-green">sample1</button>
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>modal</p>
                <div class="type-align-st">
                    <button type="button" class="btn-l btn-green MDbtn" data-MD="modal01">modal1</button>
                    <button type="button" class="btn-l-m btn-green MDbtn" data-MD="modal02">modal2</button>
                    <button type="button" class="btn-l-s btn-green MDbtn" data-MD="modal03">modal3</button>
                    <button type="button" class="btn-l-ss btn-green MDbtn" data-MD="modal04">modal4</button>
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>combo box</p>
                <div class="type-align-st">
                    <div class="comboBox menuType01">
                        <button type="button" class="cb-btn">
                            <i class="ico-setting"><span></span><span></span><span></span></i>
                        </button>
                        <div class="cb-detail">
                            <ul>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="comboBox selectType01">
                        <div class="cb-btn">
                            <span>selectType01</span><i class="ico-arrow-black"></i>
                        </div>
                        <div class="cb-detail">
                            <ul>
                                <li><a href="javascript:void(0);">1</a></li>
                                <li><a href="javascript:void(0);">2</a></li>
                                <li><a href="javascript:void(0);">3</a></li>
                                <li><a href="javascript:void(0);">4</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>tabBox</p>
                <div class="tabBox">
                    <div class="tab-hd">
                        <ul>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                    </div>
                    <div class="tab-con">
                        <div class="tab-conWrap active">
                            1
                        </div>
                        <div class="tab-conWrap">
                            2
                        </div>
                        <div class="tab-conWrap">
                            3
                        </div>
                    </div>
                </div>
            </div>
            <!--//sec-row-->

            <div class="sec-row">
                <p>tableBox</p>
                <div class="tableBox">
                    <table>
                        <thead>
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-green">1</td>
                                <td><span class="txt-blue">2</span></td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="txt-green">1</td>
                                <td><span class="txt-blue">2</span></td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>colum tableBox</p>
                <div class="type-align-bt">
                    <div class="tableBox col c-type01">
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="tableBox col c-type02">
                        <table>
                            <thead>
                                <tr>
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td class="txt-green">1</td>
                                    <td><span class="txt-blue">2</span></td>
                                    <td>3</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--//sec-row-->
            <div class="sec-row">
                <p>row tableBox</p>
                <div class="tableBox row r-type01">
                    <table>
                        <thead>
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="txt-green">1</td>
                                <td><span class="txt-blue">2</span></td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td class="txt-green">1</td>
                                <td><span class="txt-blue">2</span></td>
                                <td>3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--//sec-row-->
        </section>
    </article>
    <!--//contents-wrapper-->
    <footer></footer>
    <!--//footer-->
</div>
<div class="MDwrap" id="modal01">
    <button type="button" class="MDClose">x</button>
    <div class="modal-hd">modal1</div>
    <div class="modal-con">modal1</div>
</div>
<div class="MDwrap" id="modal02">
    <button type="button" class="MDClose">x</button>
    <div class="modal-hd">modal2</div>
    <div class="modal-con">modal2</div>
</div>
<div class="MDwrap" id="modal03">
    <button type="button" class="MDClose">x</button>
    <div class="modal-hd">modal3</div>
    <div class="modal-con">modal3</div>
</div>
<div class="MDwrap" id="modal04">
    <button type="button" class="MDClose">x</button>
    <div class="modal-hd">modal4</div>
    <div class="modal-con">modal4</div>
</div>
</body>

</html>