@charset 'utf-8';

#wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    position: relative;
    overflow: hidden;

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 45px;
        background: transparent;
        z-index: 1;
        margin: 40px 0;

        .header_area {
            width: 100%;
            max-width: 1620px;
            margin: 0 auto;
            @include flex-between;

            h1 {
                font-size: 30px;
                font-family: $font-b;
                letter-spacing: -0.5px;
            }

            ul {
                li {
                    float: left;

                    &:first-child {
                        padding-right: 90px;
                    }

                    a {
                        font-size: 20px;
                        font-family: $font-m;
                    }
                }
            }
        }
    }

    .content {
        width: 100%;
        height: 100%;
        position: relative;
        touch-action: none;
        transition: all 700ms ease 0s;

        .box {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            color: #000;

            section {
                width: 100%;
                max-width: 1620px;
                margin: 0 auto;
            }

            &.step01 {
                background: #f7f2ef;
                border-radius: 0 0 0 217px;

                .swiper {
                    width: 100%;

                    .swiper-wrapper {
                        .swiper-slide {
                            height: 65vh;
                            @include flex-between;
                            align-items: flex-start;

                            .left {
                                position: relative;
                                font-family: $font-b;
                                line-height: 75px;
                                padding-left: 140px;
                                word-break: keep-all;
                                z-index: 1;

                                span,
                                p {
                                    font-size: 30px;
                                }

                                span,
                                p,
                                h2 {
                                    opacity: 0;
                                }

                                h2 {
                                    font-size: 50px;

                                    span {
                                        font-size: 50px;
                                        color: $pointcolor
                                    }
                                }

                                p {
                                    padding-top: 25px;
                                    line-height: 45px;
                                    font-family: $font-m;
                                }
                            }

                            .right {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                right: -70px;
                                opacity: 0;
                                z-index: 0;
                                background-position: right center;
                                background-repeat: no-repeat;

                            }

                            .swiper-button-next,
                            .swiper-button-prev {
                                opacity: 0;
                                background-size: 100%;

                                &::after {
                                    display: none;
                                }
                            }

                            .swiper-button-next {
                                width: 70px;
                                height: 69px;
                                left: 210px;
                                top: 80%;
                            }

                            .swiper-button-prev {
                                width: 70px;
                                height: 69px;
                                left: 140px;
                                top: 75%;

                            }

                            &:nth-last-of-type(1) {
                                .right {
                                    background-image: url('../image/main_01_2.png');
                                }

                                .swiper-button-prev {
                                    background-image: url('../image/btn_left_off.png');
                                }

                                .swiper-button-next {
                                    background-image: url('../image/btn_left_on.png');
                                }
                            }

                            &:nth-last-of-type(2) {
                                .right {
                                    background-image: url('../image/main_01_1.png');

                                }

                                .swiper-button-prev {
                                    background-image: url('../image/btn_left_on.png');
                                    transform: rotate(180deg);
                                }

                                .swiper-button-next {
                                    background-image: url('../image/btn_left_off.png');
                                    transform: rotate(180deg);
                                }
                            }
                        }
                    }

                    .swiper-pagination {
                        text-align: left;
                        left: 140px;
                        opacity: 0;

                        span {
                            font-size: 20px;
                            font-family: $font-m;
                            color: $subtextcolor;

                            &.swiper-pagination-current {
                                color: $textcolor;
                            }
                        }
                    }
                }

                &.active {
                    .swiper {
                        .swiper-wrapper {
                            .swiper-slide {
                                &.swiper-slide-active {
                                    .left {
                                        span {
                                            animation: op-ani 1s ease-in forwards;
                                        }

                                        h2 {
                                            animation: op-ani 1s .3s ease-in forwards;
                                        }

                                        p {
                                            animation: op-ani 1s .5s ease-in forwards;
                                        }
                                    }

                                    .right {
                                        animation: op-ani 1s .8s ease-in forwards;
                                    }
                                }

                            }
                        }

                        .swiper-button-next,
                        .swiper-button-prev {

                            animation: op-ani 1s .6s ease-in forwards;
                        }

                        .swiper-pagination {
                            animation: op-ani 1s .7s ease-in forwards;
                        }
                    }
                }
            }

            &.step02 {
                .tit {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;

                    h2 {
                        font-size: 50px;
                        font-family: $font-b;
                    }

                    p {
                        color: $subtextcolor;
                        font-size: 20px;
                        margin-left: 15px;
                    }

                    opacity: 0;
                }

                .con {
                    >div {
                        position: relative;
                        width: 100%;
                        padding: 300px 0 150px;
                        margin: 0 auto;
                        font-family: $font-b;
                    }

                    .type-list {
                        max-width: 1620px;
                        z-index: 1;
                        opacity: 0;
                        position: relative;

                        ul {
                            @include flex-between;

                            li {
                                position: absolute;
                                width: 200px;
                                height: 200px;
                                border-radius: 50%;
                                background: $pointcolor;
                                @include flex-center;
                                flex-direction: column;
                                color: #fff;
                                opacity: 0;
                                cursor: pointer;
                                opacity: 1;

                                span {
                                    font-size: 20px;
                                    padding-bottom: 10px;
                                }

                                p {
                                    font-size: 30px;
                                }

                                &.active {
                                    opacity: 0;
                                }

                                &:nth-child(1) {
                                    left: 10%;
                                }

                                &:nth-child(2) {
                                    left: 32.5%;
                                }

                                &:nth-child(3) {
                                    left: 55%;
                                }

                                &:nth-child(4) {
                                    left: 77.5%;
                                }
                            }
                        }
                    }

                    .type-list-detail {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        margin-top: 50px;
                        max-width: 1620px;

                        .detail-list {
                            display: none;
                            padding: 0 100px;
                            position: relative;
                            transform: translateX(-50%);
                            width: 604px;
                            @include transition;

                            >div {
                                width: 604px;
                            }

                            &:nth-child(1) {
                                left: 10%;

                                .img {
                                    .conimg {
                                        background: #eee url('../image/main_02_1.png') no-repeat center center;
                                    }
                                }
                            }

                            &:nth-child(2) {
                                left: 32.5%;

                                .img {
                                    .conimg {
                                        background: #eee url('../image/main_02_2.png') no-repeat center center;
                                    }
                                }
                            }

                            &:nth-child(3) {
                                left: 55%;

                                .img {
                                    .conimg {
                                        background: #eee url('../image/main_02_3.png') no-repeat center center;
                                    }
                                }
                            }

                            &:nth-child(4) {
                                left: 77.5%;

                                .img {
                                    .conimg {
                                        background: #eee url('../image/main_02_4.png') no-repeat center center;
                                    }
                                }
                            }

                            .img {
                                width: 604px;
                                @include flex-center;

                                .conimg {
                                    opacity: 0;
                                    width: 400px;
                                    height: 400px;
                                    border-radius: 50%;
                                    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.16);
                                    position: relative;
                                    z-index: 1;
                                }

                                .conbg {
                                    opacity: 0;
                                    width: 800px;
                                    height: 800px;
                                    position: absolute;
                                    z-index: 0;

                                    .st1 {
                                        fill: #49a2e0;
                                    }

                                    .st2 {
                                        fill: #73f2ba;
                                    }

                                    .st3 {
                                        fill: #7ccebc;
                                    }

                                    .st4 {
                                        fill: #faf0ad;
                                    }

                                    .st5 {
                                        fill: #fa9e76;
                                    }

                                    .st6 {
                                        fill: #5464f7;
                                    }

                                    .st7 {
                                        fill: #49a2e0;
                                    }

                                    .st8 {
                                        fill: #73f2ba;
                                    }

                                    .st9 {
                                        font-family: 'Montserrat-Regular';
                                    }

                                    .st10 {
                                        font-size: 23.9043px;
                                    }
                                }
                            }

                            .text {
                                text-align: center;
                                padding-top: 50px;

                                p {
                                    font-size: 30px;
                                    opacity: 0;
                                }

                                span {
                                    opacity: 0;
                                    display: block;
                                    margin-top: 10px;
                                    font-size: 20px;
                                    color: $subtextcolor
                                }
                            }
                        }
                    }
                }

                &.active {
                    .tit {
                        animation: op-ani 1s .3s ease-in forwards;
                    }

                    .con {
                        .type-list {
                            animation: op-ani 1s .7s ease-in forwards;

                            ul {
                                li {}
                            }
                        }

                        .type-list-detail {
                            .detail-list {
                                &.active {
                                    display: block;


                                    .img {
                                        .conimg {
                                            animation: step02_img 1s ease-in forwards;
                                            @include transition;

                                        }

                                        .conbg {
                                            animation: step02_img 1s ease-in forwards;

                                            [id*=Particle] {
                                                will-change: transform;
                                                transform-origin: 50% 50%;
                                                transform-box: fill-box;
                                                opacity: 0;
                                                animation: particle ($duration * 1.5) cubic-bezier(.21, .61, .35, 1);
                                                animation-fill-mode: forwards;
                                                animation-delay: ($duration / 4);
                                            }

                                            @for $i from 1 through 18 {
                                                [id*=Particle]:nth-child(#{$i}) {
                                                    $dur: random(1000) + 1000ms;
                                                    animation-duration: $dur;
                                                }
                                            }

                                            [id*=Particle]:nth-child(1) {
                                                transform: translate(500%, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(2) {
                                                transform: translate(250%, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(3) {
                                                transform: translate(0, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(4) {
                                                transform: translate(-250%, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(5) {
                                                transform: translate(-500%, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(6) {
                                                transform: translate(-500%, 250%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(7) {
                                                transform: translate(-500%, 0%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(8) {
                                                transform: translate(-500%, -250%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(9) {
                                                transform: translate(-500%, -500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(10) {
                                                transform: translate(-250%, -500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(11) {
                                                transform: translate(0%, -500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(12) {
                                                transform: translate(250%, -500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(13) {
                                                transform: translate(500%, -500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(14) {
                                                transform: translate(500%, -250%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(15) {
                                                transform: translate(500%, 0%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(16) {
                                                transform: translate(500%, 250%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(17) {
                                                transform: translate(500%, 500%) scale(0);
                                            }

                                            [id*=Particle]:nth-child(18) {
                                                transform: translate(500%, 500%) scale(0);
                                            }
                                        }
                                    }

                                    .text {

                                        p {
                                            animation: op-ani 1s .7s ease forwards;
                                        }

                                        span {
                                            animation: op-ani 1s 1s ease forwards;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.step03 {
                section {
                    width: 100%;
                    max-width: 100%;

                    .con {
                        @include flex-between;

                        >div {
                            width: 50%;
                        }

                        .left {
                            height: 100vh;
                            background: #f7f2ef;
                            @include flex-item;
                            opacity: 0;

                            img {
                                display: none;

                                &.active {
                                    display: block;
                                }
                            }
                        }

                        .right {
                            padding-left: 90px;
                            font-family: $font-b;

                            h2 {
                                font-size: 50px;
                                padding-bottom: 80px;
                                opacity: 0;
                                line-height: 75px;
                                letter-spacing: -1px;
                                word-break: keep-all;
                            }

                            dl {
                                color: $subtextcolor;

                                dt {
                                    font-size: 30px;
                                    line-height: 75px;
                                    display: flex;
                                    align-items: center;
                                    opacity: 0;

                                    button {
                                        &.ico-check {
                                            width: 30px;
                                            height: 30px;
                                            background: url('../image/icon_check_off.png') no-repeat;
                                            cursor: pointer;
                                            margin-right: 15px;
                                        }
                                    }
                                }

                                dd {
                                    font-size: 20px;
                                    line-height: 30px;
                                    padding-left: 50px;
                                    opacity: 0;
                                }

                                &.active {
                                    color: $textcolor;

                                    dt {
                                        button {
                                            &.ico-check {
                                                background: url('../image/icon_check_on.png') no-repeat;
                                            }
                                        }
                                    }
                                }

                                &:last-child {
                                    padding-top: 50px;
                                }
                            }
                        }
                    }
                }

                &.active {
                    .con {
                        @include flex-between;


                        .left {
                            animation: op-ani 1s .2s ease-in forwards;
                        }

                        .right {
                            h2 {
                                animation: op-ani 1s .3s ease-in forwards;
                            }

                            dl {
                                &:nth-of-type(1) {
                                    dt {
                                        animation: op-ani 1s .6s ease-in forwards;
                                    }

                                    dd {
                                        animation: op-ani 1s .8s ease-in forwards;
                                    }
                                }

                                &:nth-of-type(2) {
                                    dt {
                                        animation: op-ani 1s 1.1s ease-in forwards;
                                    }

                                    dd {
                                        animation: op-ani 1s 1.3s ease-in forwards;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: #eee;
        font-size: 14px;
        text-align: center;
        height: 220px !important;

        section {

            color: #000;

            .area-info {
                .f-menu {
                    @include flex-center;

                    li {
                        a {
                            font-size: 16px;
                            font-family: $font-m;
                            color: $textcolor
                        }

                        &:nth-child(2) {
                            @include flex-center;

                            &::before,
                            &::after {
                                content: "";
                                display: block;
                                position: relative;
                                width: 1px;
                                height: 10px;
                                background-color: $textcolor;
                                margin: 0 10px;
                            }
                        }
                    }
                }

                .f-info {
                    padding-top: 25px;
                    color: $subtextcolor;
                    font-size: 14px;
                    line-height: 20px;

                    ul {
                        @include flex-center;
                        padding: 8px 0;

                        li {


                            &:nth-child(2) {
                                @include flex-center;

                                &::before,
                                &::after {
                                    content: "";
                                    display: block;
                                    position: relative;
                                    width: 1px;
                                    height: 10px;
                                    background-color: $subtextcolor;
                                    margin: 0 10px;
                                }
                            }
                        }
                    }

                    address {
                        font-style: normal;
                    }
                }
            }
        }
    }
}

.dim {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 999;
    opacity: 0.6;

    &.active {
        display: block;
        opacity: 0.45;
    }
}

.modal {
    display: none;
    position: fixed;
    width: 100%;
    max-width: 700px;
    min-height: 600px;
    padding: 0;
    overflow-y: hidden;
    z-index: 9999;
    overflow: hidden;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 30px 28px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #eee;
    background-color: #fff;

    &.active {
        display: block;
    }

    .modal-hd {
        border-bottom: 1px solid #ddd;

        .tit {
            height: 57px;
            @include flex-center;
            font-size: 1.25rem;

            strong {
                margin: 0;
            }

            button {
                position: absolute;
                right: 25px;

                i {
                    position: relative;
                    width: 13px;
                    height: 13px;

                    &::before {
                        content: "";
                        display: block;
                        width: 13px;
                        height: 13px;
                        background: url('../image/ico_close_black.svg') no-repeat;
                    }
                }
            }
        }
    }

    .modal-con {
        padding: 20px;
        height: 594px;
        overflow: hidden;
        overflow-y: auto;

        div {
            line-height: 170%;
            font-size: 16px;

            .policy-table {
                width: 100%;
                margin-bottom: 30px;

                caption {
                    visibility: hidden;
                }

                th {
                    font-weight: normal;
                    background: #eee;
                    border: 1px #333 solid;
                    border-bottom: 0;
                    text-align: center;
                    vertical-align: middle;
                }

                td {
                    &:first-child {
                        text-align: center;
                    }

                    vertical-align: middle;
                    border: 1px #333 solid;
                    padding: 5px;

                }

                td {}
            }
        }
    }
}