@charset 'utf-8';

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-style: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
picture {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

ol {
    list-style-position: inside;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong {
    font-weight: normal;
}

span,
strong,
em,
i {
    display: block;
    background-repeat: no-repeat;
}

em {
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all ease 0.8s;
}

button {
    font-family: $ft-r;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a,
button {
    @include transition
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

input[type="text"],
input[type="password"],
input[type="checkbox"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea {
    outline: none;
    background: #fff;
    color: $cr-gr01;
    padding: 0 1rem;
    border-radius: .6rem;
    border: .1rem solid $cr-gr03;
    height: 4.6rem;
    width: 100%;
    font-family: $ft-r;
    font-size: $ft-16;

    &::placeholder {
        color: $cr-gr03
    }
}

textarea {
    resize: none;
    height: 13.4rem;
    overflow: hidden;
    overflow-y: auto;
    padding: 1rem;

}

input::-ms-clear {
    display: none;
}

input:-webkit-autofill {
    background: #fff !important;
    -webkit-text-fill-color: #000 !important;
}

html,
body {
    width: 100%;
    font-family: $ft-r;
    font-size: 62.5%;
    color: #000;
}

body {
    overflow: hidden;
    overflow-y: auto;
}

::-moz-selection,
::selection {
    color: #fff;
    background: $mainColor;
}

::-webkit-scrollbar {
    @include scrollbar
}

::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
}